[2014-10-24 18:28] stevencothren opened #2 "'make deps' fails due to undefined Asset in api.go"
Hello,
I get the following error when trying to run 'make deps' on a fresh checkout.

go get
# github.com/pgweb
./api.go:27: undefined: Asset
./api.go:156: undefined: Asset
make: **\* [deps] Error 2

The issue is that Asset doesn't get defined until after running 'go-bindata ...' to generate the bindata.go file.

If you include the bindata.go that is generated from 'go-bindata -debug ...' in your

[2014-10-25 05:06] #2 closed, assigned to nobody

[2014-10-27 13:28] maksadbek opened #8 "how can I set password for connection?"
[code]

[2014-10-27 14:37] #8 closed, assigned to nobody

[2014-10-27 19:47] jonathanwiesel opened #9 "Brew installing"
Could it be possible to install (and keep updated) via homebrew?

Would be awesome to not depend on checking out Github from time to time for updating.

[2014-10-27 20:54] noplay opened #10 "Kill a running query"
Nice application,

I have an enhancement suggestion. You can add an option in order to kill a running query.

Have a nice day

[2014-10-27 23:37] bill-myers opened #11 "Missing hyperlinks on foreign key"
This project is missing the most important feature of a database GUI: the ability to view related records...

Basically whenever a foreign key is defined, the value should be linked to the row in the referenced table. Also, ideally, there should be a button to automatically join on foreign keys.

Without this feature, easy navigation is impossible.

[2014-10-27 23:43] bill-myers opened #12 "Extra scrollbars"
In both Firefox and Chrome, extra scrollbars and shown in all panes, which look horrible.

The problem is that you are setting "overflow: scroll" on all the divs, which is dumb.

You should use "overflow: auto" instead.

[2014-10-27 23:46] bill-myers opened #13 "Cannot sort tables"
When clicking on a column header, the table needs to be sorted by that header, and pressing again should invert the sort direction.

Also there should be a GUI to define multi-column sorting.

[2014-10-28 00:27] swuecho opened #14 "schema support?"
I can 'set search_path= schema' and run the query through the browsers, but the tables names show in the left do not change.

thanks.

[2014-10-28 00:40] abourget opened #15 "AngularJS ?"
I was thinking of angularifying the app, I think it would scale better. Would you be opposed ?

[2014-10-28 01:04] bblack opened #16 "Content tab doesn't double-quote table in query"
In postgres, identifiers need to be named with double-quotes if they're not all lowercase. For example, I have a table `Accounts`, and when I click the "content" tab, I see:

[code]

because the query issued was

[code]

with `Account` not double-quoted.

[2014-10-28 01:15] abourget opened #17 "Switch to go-rice ?"
Hi @sosedoff great initiative with this app.

Wondered if you'd switch to go-rice instead of go-bindata ?  go-rice allows you to read files from the current dir, or bundle them as a .zip .. and doesn't need a build step to update files.. as it only points to a directory, and serves everything underneath.

https://github.com/GeertJohan/go.rice

I have an app that works that way, I could help out

[2014-10-28 01:36] #17 closed, assigned to nobody

[2014-10-28 02:04] #16 closed, assigned to nobody

[2014-10-28 03:35] #9 closed, assigned to nobody

[2014-10-28 05:12] diwu1989 opened #19 "Authentication"
I would like to host this on heroku, so I need to have at least basic http password authentication.

[2014-10-28 07:11] davetoxa opened #20 "Installing via brew"
What do you think about creating a homebrew formulae  to more convinient installing on mac os?

Great project! :smiley: :+1:

[2014-10-28 07:43] ghost opened #21 "Tables with name uppercase"
There is a table for example "COM_Abonent", when I click on it
**Expected**:
to see data
**Real result**:
"ERROR: pq: relation "com_abonent" does not exist"
**Comment**:
When I run query:
select \* from "COM_Abonent";
I see data from this table

[2014-10-28 10:44] gglanzani opened #23 "--ssl disable does not work"
Maybe there is something wrong in the syntax, but this does not work

[code]

I'm using 0.3.0, Mac OS X

[2014-10-28 12:14] donnex opened #24 "Listen IP"
Hi, I'm trying to create a Dockerfile / Docker container to run pgweb in. My problem is that pgweb seems to bind to localhost and that there is no way to change this at the moment.

Would be great if you could specify listen port and listen IP to bind it to an IP.

[2014-10-28 13:04] alibitek opened #25 "Content tab is not usable when table name contains hypen characters, underscores, whitespaces"
I have table names with hypens, underscores, whitespace, etc. in them and I get the following error after starting pgweb, selecting a table with such characters in its name from the left column with "Database Tables" and clicking on the Content tab.

The following errors is displayed: **ERROR: pq: syntax error at or near "-"**

The table name and schema names should be quoted with double quotes "

[2014-10-28 13:11] alibitek opened #26 "Overlap between table names in the "Database Tables" left column"
There is an overlap of table names when there are table names that contains hypens, whitespaces, underscores, start with upper case letters, or contain upper case letters
or when the table names are longer that the width of the left box where the table names are displayed.

[2014-10-28 13:19] #20 closed, assigned to nobody

[2014-10-28 13:25] #25 closed, assigned to nobody

[2014-10-28 14:59] bblack opened #28 "input doesn't focus when clicking SQL query tab"

[2014-10-28 15:54] brianlow opened #29 "Escape table names"
We have a table named "user" (yeah, not great). Viewing the Content shows the current user name instead of the data in the table.

e.g.

select \* from user

vs

select \* from "user"

[2014-10-28 15:58] brianlow opened #30 "Keyboard support for SQL Query"
Ability to work on a sql query with just the keyboard.

Didn't see a way to submit a query by keyboard shortcut (on OSX).

Great app by the way. Liking it better than pgAdmin already!

[2014-10-28 16:28] #28 closed, assigned to nobody

[2014-10-29 01:38] kohenkatz opened #35 "Error: Database does not have any tables ... but it does"
I am trying to connect to a database running on another machine on the network.  When I connect with pgAdmin it works perfectly, so I know that it should work.

I try to run pgweb with the following command:

[code]

Here is the error that it returns:

[code]

I turned on connection logging on the server, and here is what I got:

[code]

When I run that query (`SELECT table_name FROM information_s

[2014-10-29 12:45] hugorodgerbrown opened #37 "Prepopulate SQL Query panel"
It would be really nice if the SQL Query panel was automatically populated with the query that you had in the default Content pane.

e.g. When you click on the table name in the sidebar, it switches to the Content pane and shows the first X rows of the table. Would be great if when you then clicked on SQL Query it showed:

[code]

(or whatever the query actually is)

---

Looking at the code, I th

[2014-10-29 14:17] miroli opened #38 "Export query result that contains wildcard search"
Example query: SELECT \* FROM table WHERE column LIKE '%word%';

This breaks the "Export as CSV" function, since the query wildcards gets interpreted as escape characters in the URL.

[2014-10-29 15:15] davetoxa opened #39 "Changelog.md"
Hello, what about creating md document with changes on each version?

[2014-10-29 17:43] danmbox opened #41 "config file and/or environment variables (avoid leaking credentials to command line / ps)"
There should be a way to provide the PG credentials in a config file or in environment variables. The command line is visible to any local user.

[2014-10-29 18:09] #39 closed, assigned to nobody

[2014-10-29 23:33] #38 closed, assigned to nobody

[2014-10-29 23:46] #21 closed, assigned to nobody

[2014-10-29 23:46] #12 closed, assigned to nobody

[2014-10-30 00:08] #29 closed, assigned to nobody

[2014-10-30 00:51] #37 closed, assigned to nobody

[2014-10-30 08:44] RobertAudi opened #48 "Don't open the browser automatically"
It would be cool to have some CLI flag to just run the server, without opening the browser.

[2014-10-30 12:00] santagada opened #49 "Mysql support"
How against adding mysql support would you be? I find your tool very direct and to the point and mysql has nothing remotely like it (they don't even have an open source gui tool like pgadmin) so I think it would be pretty cool. I know that this would add a layer of compatibility and probably would make working with css/html morecomplex as you have to support both but it is so much better than work

[2014-10-30 15:13] #49 closed, assigned to nobody

[2014-10-30 19:20] fredrick opened #51 "Cannot expand width of column contents"
Currently, large results that do not fit into a column are truncated. It would be nice to be able to have a way to expand this view.

[2014-10-30 23:20] #35 closed, assigned to nobody

[2014-10-30 23:21] #30 closed, assigned to nobody

[2014-10-30 23:45] #48 closed, assigned to nobody

[2014-10-30 23:53] #24 closed, assigned to nobody

[2014-10-30 23:54] #19 closed, assigned to nobody

[2014-10-31 00:23] #26 closed, assigned to nobody

[2014-10-31 00:31] #23 closed, assigned to nobody

[2014-10-31 09:04] llitfkitfk opened #53 "No tables Exception"
If there is no tables in database. It cannot start the server.

[2014-10-31 16:46] #53 closed, assigned to nobody

[2014-10-31 17:41] corbanb opened #54 "brew install pgweb"
Not an issue but is anyone working on a formula for homebrew? :smile:

[2014-10-31 19:12] #54 closed, assigned to nobody

[2014-11-04 00:54] #51 closed, assigned to nobody

[2014-11-04 07:46] edoardoc opened #57 "QUERY PLAN response is truncated"
![screen shot 2014-11-04 at 09 44 36](https://cloud.githubusercontent.com/assets/368717/4896222/7eff6cca-63f6-11e4-970c-f1303149c0fe.png)

query plan response is truncated with ...

[2014-11-04 12:17] bcho opened #58 "0.3.1's linux amd64 release zip ball is broken"
https://github.com/sosedoff/pgweb/releases/download/v0.3.1/pgweb_linux_amd64.zip

I cannot decompress it in my local machine (linux, using unzip), maybe this zip file has been damaged?

[2014-11-04 12:49] #57 closed, assigned to nobody

[2014-11-04 13:32] edoardoc opened #59 "edit"
Is there any plan of enabling some sort of row editing?

[2014-11-04 14:18] #59 closed, assigned to nobody

[2014-11-04 14:19] #58 closed, assigned to nobody

[2014-11-05 21:58] bblack opened #60 "Unhelpful error message on unsupplied credentials"
When invoking the binary without passing any options, the error message is

[code]

The implication here is that there _is_ a database that has successfully been reached, but it has no tables. This is almost certainly false - I don't have a role or database by the name of the defaults that `psql` expects when invoked without arguments.

[2014-11-06 00:45] #60 closed, assigned to nobody

[2014-11-06 13:16] petere opened #61 "connection specification problems"
This looks really cool, but I can't connect.

First attempt:

[code]

Admittedly, it is documented that URLs start with `postgres:`, not `postgresql:`, but it's an easy mistake to make, because libpq supports both.  But in any case it shouldn't attempt to interpret a URL it cannot parse as a connection string and then give a bogus error message.

Next try:

[code]

I know the Go `lib/pq` is very p

[2014-11-07 17:34] domjitsu opened #62 "Favicon"
Would be really nice to have a clean favicon for pinned tabs and such. I'm no icon designer, but thought I'd mention.

[2014-11-07 17:53] #62 closed, assigned to nobody

[2014-11-12 00:23] #61 closed, assigned to nobody

[2014-11-12 00:30] #41 closed, assigned to nobody

[2014-11-14 01:16] dmitshur opened #64 "Consider using thrust to make this a standalone cross-platform GUI app?"
https://github.com/breach/thrust

It seems that `pgweb` could use that to become a GUI app.

It's up to you to decide if the benefits (convenience?) outweigh the cons (heavier download? additional complexity?), I'm only suggesting you look into it.

[2014-11-14 17:22] #64 closed, assigned to nobody

[2014-11-21 04:06] sosedoff opened #66 "Connect using SSH tunnel"
Everything works fine until you want to connect to a postgres server that sits behind firewall.

The only option in this case is to use ssh tunnels. In order to make it work, user has to use `ssh` to establish connection with a remote machine. Example:

[code]

This should work on linux and osx but not on windows, which does not have a standard `ssh`
binary available. I've been digging around to f

[2014-11-28 20:48] tlhunter opened #69 "CREATE TABLE should refresh table listing"
When I use pgweb to run a CREATE TABLE command, the response is that no records were found (which makes sense, I wasn't retrieving anything with the query).

It would be cool if the tool could tell that I was creating a table, and refresh the table listing (and perhaps focus on the newly created table?).

[2014-12-02 01:28] #69 closed, assigned to nobody

[2014-12-02 01:41] sosedoff opened #70 "Bookmark server connections"
Another great addition to the pgweb could be "bookmarked" connections. This will provide a way to
quickly server connection settings. Most native database managers do that and its very helpful.

Few options to consider:

**Store bookmarks in cookie/localstorage**
- Pros: easy implementations
- Cons: no real persistence

**Store bookmarks in a local file**

File could be something like `~/.pgweb_bo

[2014-12-02 03:45] ke-da opened #71 "Why not use gin's built-in router.Static to serve static files?"
I'm still new to golang but I'm genuine curious here, is it because resource consumption of http.FileServer?
http://godoc.org/github.com/gin-gonic/gin#RouterGroup.Static

Looks like with current implementation only folder depth of 2 is supported and your have to "assert" content type, seems unnecessary work to me.

Thanks for the great work.

[2014-12-02 18:38] #71 closed, assigned to nobody

[2014-12-12 05:35] tlhunter opened #73 "Daemon Mode"
An argument for forking pgweb to the background would be great

[2014-12-18 06:03] #73 closed, assigned to nobody

[2014-12-18 06:05] #70 closed, assigned to nobody

[2015-01-05 18:24] sosedoff opened #75 "Add file extension when exporting query results to csv"

[2015-01-06 17:46] #75 closed

[2015-01-07 16:28] insectatorious opened #76 "Getting "user: Current not implemented on linux/amd64" trying to connect over SSL"
Tried to connect using the 'Schema' tab. Specified the `ssl=true`, `sslcert` and `sslkey` in the URI. Running `Linux <name> 3.13.0-22-generic #44-Ubuntu SMP Wed Apr 2 20:05:40 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

**To reproduce**:
1. Start process using `./pgweb_linux_amd64`
2. Point browser to http://localhost:8080 and select the 'Schema' tab.
3. Enter url in the format `postgresql://user@de

[2015-01-07 17:11] sosedoff commented on #76
@insectatorious Issue confirmed.

I was planning on getting rid of `os/user` anyway, might as well do it now. The only reason why we need `os/user` is to figure out current user for localhost connections, for remote connection its most likely that user is something else than `postgres`.

[2015-01-07 17:31] sosedoff commented on #76
@insectatorious Oh btw, i see that your url format is invalid: `postgresql://`. It should start with `postgres://`. Format checking is already fixed in master, but new release is not out yet. So if you specify a proper url prefix it should work as you have user defined. Used detection from os settings only happens when user is not provided.

[2015-01-07 17:46] insectatorious commented on #76
@sosedoff Doh! You are correct sir. Fixed it and it's working like a charm! Thanks.

[2015-01-11 22:07] sosedoff commented on #76
Closing this issue since it was fixed in "lib/pq" repo. pgweb will also try to fetch user from OS environment first.

[2015-01-11 22:07] #76 closed

[2015-01-11 22:08] sosedoff commented on #66
Closing this issue for now. SSH support might be added some day.

[2015-01-11 22:08] #66 closed

[2015-01-18 12:09] joshstrange opened #77 "Uppercase table names must be quoted"
This may be connected to both #29 and #16 (if not the same issue). I have a table that starts with a capital letter (eg: "Users") and if I try to do a query 'SELECT * FROM Users' it complains about there being no "users" table. However if I do 'SELECT * FROM "Users"' then it works.

I don't have a lot of experience with pgsql (come from a mysql background) and I rarely use uppercase in my table na

[2015-01-18 17:34] sosedoff commented on #77
Which pgweb version are you using? Also on which OS ?

[2015-01-26 01:43] jerome-peng commented on #14
yeah,I just ran into this problem also. My database doesn't use the public schema, so I can run queries but cannot select any tables.

[2015-01-26 01:50] jerome-peng commented on #14
Does this proble solved?
I use pgweb_windows_386 version 0.5.0, schema support?

[2015-01-26 05:48] brian-vogogo opened #78 "Run query for selected text"
When text is selected, only run the selected text as a query. Otherwise use the current behaviour, and run all entered text as a query.

I use the query tab as a scratchpad - adding queries or editing old ones as I navigate a problem. Currently I will comment out all other sql statments, run the query then comment it out and uncomment a different sql statement.

[2015-01-26 05:54] sosedoff commented on #78
I dont think this is a big deal. If you're doing lots of prototyping this is the cost you've gotta pay.
Imaging doing prototyping using a plain-old `psql`, you cant just "select" a query and run it. So unless you have any code to support that i wont be working on this.

[2015-01-26 05:54] #78 closed

[2015-01-26 16:45] brian-vogogo commented on #78
Yeah I agree. Meant this is a minor feature suggestion. If you are open to a pull request I can get it going. If not, no worries - thanks for a great tool.

[2015-01-26 16:46] sosedoff commented on #78
Im alway open for a good PR!

[2015-02-04 09:29] gglanzani commented on #14
Is this also the reason why I cannot see materialized views?

[2015-02-19 09:34] lfx commented on #77
Hello, @joshstrange I think this may be your case http://blog.lerner.co.il/quoting-postgresql/

[2015-02-26 18:36] kespindler commented on #10
It'd also be useful to know how long an ongoing query has been running. A simple javascript timer on the page would suffice for this purpose.

[2015-02-26 18:43] sosedoff commented on #10
@kespindler javascript timer would be irrelevant in case if you run a query on non-local servers. Results
table also takes some time. So if we want to have query execution time, it has to be done via backend.

[2015-03-03 15:59] KenjiTakahashi opened #80 "Bookmark.Port expected string."
According to [wiki](https://github.com/sosedoff/pgweb/wiki/Server-Connection-Bookmarks), port in bookmark file should be int, but it fails with

`
Type mismatch for 'main.Bookmark.Port': Expected string but found 'int64'.
`

Passing it as string instead works fine.
Either wiki is wrong or code is wrong :-).

[2015-03-04 00:33] sosedoff commented on #80
Thanks for reporting. I will check.

[2015-03-04 02:03] sosedoff commented on #80
All bookmark attributes should be encoded as strings, i corrected the wiki page. Thanks!

[2015-03-04 02:03] #80 closed

[2015-03-08 21:43] KenjiTakahashi opened #81 "UI: Moving from SQL Query to Structure leaves query editor on screen."
Steps to reproduce:

1. Choose a table.
2. Choose SQL Query.
3. Choose Structure.

Query editor stays on the screen. Moving to some other tab and back to Structure fixes it.

[2015-03-09 18:06] sosedoff commented on #81
Thanks, i'll fix it.

[2015-03-09 19:04] sosedoff commented on #81
This is fixed in master.

[2015-03-09 19:04] #81 closed

[2015-03-22 04:37] alfonsodev commented on #14
+1

[2015-03-23 05:36] sosedoff commented on #77
Closing this issue unless there's a problem. No feedback received.

[2015-03-23 05:36] #77 closed

[2015-03-23 05:37] sosedoff commented on #10
Stopping a running query is currently in works.

[2015-03-23 05:38] sosedoff commented on #11
Closing this issue unless anyone is interested on working on the feature  / @cbandy @bill-myers

[2015-03-23 05:38] #11 closed

[2015-03-23 05:39] #13 closed

[2015-04-27 10:44] Garbee opened #84 "Secure connection with SSL"
I would love to leave pgweb running for quick access any-time I need it. However, I don't see a way to secure the connection to the web interface using HTTPS. In my case I have a wildcard cert that will work perfect if I could just tell pgweb to use it somehow.

Is there any current way to secure the connection to pgweb with HTTPS?

Any possibility of this being added in the future?

[2015-04-27 14:38] sosedoff commented on #84
Hi. You could use nginx as a proxy in front of pgweb, configuration in this case would super simple
if you already have your ssl certificate. The reason why ssl is not supported out of the box is because
of the same lack of ssl support in [gin](https://github.com/gin-gonic/gin) web framework used by pgweb.

[2015-04-27 15:15] Garbee commented on #84
ah, nginx proxy! I was looking for some way to handle it with my current stack, forgot it does proxying. Thanks for the recommendation.

This issue may help others too searching at least. Will close up since that handles what I need.

[2015-04-27 15:15] #84 closed

[2015-04-27 17:05] Garbee commented on #84
For anyone else wanting this, I setup an nginx site with this config:

[code]

Boom, nginx proxying to pgweb just fine with full SSL!

[2015-04-27 17:06] sosedoff commented on #84
Thanks! I will add that to wiki

[2015-04-30 01:48] suedered commented on #14
:+1: I just ran into this problem also. My database doesn't use the public schema, so I can run queries but cannot select any tables.

[2015-04-30 02:11] sosedoff commented on #14
hang tight, im working on it.

[2015-06-01 09:45] alfonsodev commented on #14
:+1:  if you want help push the branch with your progress or your idea how would you like to implement it,
I really would like to see this feature, wouldn't mind to help.
thanks for your effort! I use this tool every day. :)

[2015-06-05 14:13] tcn opened #86 "v0.6.0 OSX (amd64) broken"
Hi!

Two obvious issues:

1) the 0.6.0 tarball's binary reports: Pgweb v0.5.2 (git: 79bf430dee865dbd2be65e7b95a16332f64e826c)
2) Asset static/index.html can't read by error: Error reading asset static/index.html at /Users/sosedoff/Go/src/github.com/sosedoff/pgweb/static/index.html: open /Users/sosedoff/Go/src/github.com/sosedoff/pgweb/static/index.html: no such file or directory

And the actual 0.

[2015-06-05 15:25] sosedoff commented on #86
Hi @tcn,

Thanks for your report. Im aware of 0.6.0 version issue and will fix soon.
Regarding the second issue, i think this might have been a problematic binary build.. I'll need to redo it
to fix the problem.

What about the empty tables list ? Do you see any errors in the console? Alternatively you could run a direct request against api: GET http://localhost:808(or 8081)/api/tables

[2015-06-05 15:53] tcn commented on #86
Hey,

Nope, console LGTM. Here's the complete output (incl. the GET which returns "[]"):

[code]

[2015-06-05 16:00] sosedoff commented on #86
Do you have any tables in public schema ?

[2015-06-06 05:23] tcn commented on #86
No, the tables are actually in a dedicated schema. Found no way to specify it, though.

[2015-06-06 13:57] sosedoff commented on #86
I see. Yeah, right now pgweb only supports public schema but im working on having multiple schema support as well. Dont know ETA, but hopefully in the next version or two.

[2015-06-08 20:09] codeBearer commented on #10
Is it possible to use pgweb as a service? Or what should be the proper way to deploy it?

[2015-06-18 18:16] sosedoff commented on #86
@tcn could you please try https://github.com/sosedoff/pgweb/releases/tag/v0.6.1 binary ?

[2015-06-19 11:50] RobertAudi commented on #86
@sosedoff I just tried `v0.6.1`. Seems to work. But at first I installed pgweb via `brew cask install pgweb`, which installed `v0.5.2`, and I encountered the same problem.

[2015-06-19 13:55] sosedoff commented on #86
There was an issue with binary packaging that i did not notice so i'll have more clean build process in the future. If 0.6.1 works fine i'll go ahead and push that to homebrew.

[2015-06-20 00:33] sosedoff commented on #86
0.6.1 is released to homebrew cask repo

[2015-06-20 00:33] #86 closed

[2015-06-22 02:36] tylerlong opened #88 "schema prefix `postgresql://`"
`postgresql://` is the recommended prefix according to PostgreSQL's documentation: http://www.postgresql.org/docs/9.3/static/libpq-connect.html#LIBPQ-CONNSTRING But pg web only supports `postgres://`

[2015-06-22 05:55] cbandy commented on #88
Support was added to lib/pq [in April](https://github.com/lib/pq/compare/ec83aaae1acf89e469d8e5cb19a70c4800ab9513%5E...e51fec16be7847e24d0270a5ce1f95cf2482b5e9).

[2015-07-15 03:59] sosedoff commented on #88
Implemented in master.

[2015-07-15 03:59] #88 closed

[2015-07-29 18:10] tobijb opened #94 "Out of memory error on large selects"
Hey there,

Getting a runtime error "out of memory" when doing a large SQL select on a semi large table.

The table is 4.6 million rows and has about 40 columns defined.  I'm happy to give more details if necessary!

[code]

[2015-07-29 19:42] sosedoff commented on #94
So this error happens all the time or randomly?

[2015-07-29 20:28] tobijb commented on #94
It happens all the time on a number of our tables.

Here are the two test cases.

1. pgWeb 'select * from test_table' (a large table with a relatively simple schema and 1 million rows) and the browser rendered view never returns (get the 'aw snap') error in Chrome.

Create 1 million rows

[code]

[code]

2. pgWeb 'select * from test_table2' (a large table with a relatively simple schema and 5 mill

[2015-07-29 22:35] sosedoff commented on #94
Thanks for the examples, i'll try to reproduce and hopefully fix the problem.

[2015-08-01 20:44] sosedoff commented on #94
I ran all your example and havent gotten a single crash. Using PostgreSQL 9.3.
Here's the profiler log (start with `-d` flag):

[code]

I ran the queries you provided and also these two:

[code]

Im not sure, whats the expected behavior here? If you're running out of memory there's not much could be done, maybe rescue from that exception and show an error message to the user. Let me know.

[2015-08-03 19:26] enr2114 opened #95 "Issue with downloading the CSV"
Runs the query but when I download csv I get an error message.  I believe its because I'm using "+" to add two different columns

[2015-08-03 19:40] sosedoff commented on #95
Could you provide a more detailed example?

[2015-08-03 19:43] enr2114 commented on #95
Hey,

So my query included a line "application_funders.amount +
COALESCE(application_prior_fundings.buyout_amount,0) as "total approved
amount" FROM applications "

I have no problem running the query but when I try to download it I get an
error "pg: syntax error at or near "COALESCE""

Thanks,
ELana

On Mon, Aug 3, 2015 at 3:41 PM, Dan Sosedoff <notifications@github.com>
wrote:

[2015-08-03 19:46] sosedoff commented on #95
Thanks, i'll have a look later today

[2015-08-11 09:09] yarons opened #96 "Special characters support"
I tried using this amazing tool and figured it doesn't read my password.

The password I'm using for my user is `%yaron11` and for some reason I get the following message (using web or cli):

[code]

[2015-08-11 13:43] sosedoff commented on #96
Ah, i think someone mentioned about this before. Will fix.

[2015-08-16 15:31] sosedoff commented on #96
Fixed in latest release. However, you should be using proper escaping for the full uri's

[2015-08-16 15:31] #96 closed

[2015-08-16 15:31] sosedoff commented on #95
Fixed in latest release

[2015-08-16 15:31] #95 closed

[2015-08-16 15:41] yarons commented on #96
Confirmed, I must say I'm impressed, blazing fast and very easy to use, thank you for the wonderful tool!

[2015-09-07 20:46] spaquet commented on #10
+1

[2015-09-18 05:21] brian-vogogo commented on #14
:+1: Would like this schema support. Willing to help.

[2015-09-21 19:59] abourget opened #97 "Redshift support"
Would like to have redshift support..

is this still supported ? anyone took over ?

[2015-09-28 03:00] goldalworming opened #98 "about map function you use in client.query"
I read this on https://blog.golang.org/go-maps-in-action

Maps are not safe for concurrent use: it's not defined what happens when you read and write to them simultaneously. If you need to read from and write to a map from concurrently executing goroutines, the accesses must be mediated by some kind of synchronization mechanism. One common way to protect maps is with sync.RWMutex.

I see you use m

[2015-09-28 03:08] sosedoff commented on #98
Which piece of code in particular are you talking about?

[2015-09-28 04:03] goldalworming commented on #98
I think this one which generate object to return as json in pgweb

	func (client *Client) query(query string, args ...interface{}) (*Result, error) {
		rows, err := client.db.Queryx(query, args...)

		if err != nil {
			return nil, err
		}

		defer rows.Close()

		cols, err := rows.Columns()
		if err != nil {
			return nil, err
		}

		result := Result{Columns: cols}

		for rows.Next() {
			obj, er

[2015-09-28 04:27] sosedoff commented on #98
I dont see any maps in the code you provided. Am i missing something ? `rows.SliceScan()` returns `[]interface{}` https://github.com/jmoiron/sqlx/blob/master/sqlx.go#L540

[2015-09-28 06:47] goldalworming commented on #98
ok, I'm sorry, I thought it was same with
        arrayobj := make([]map[string]interface{}, 0)
        for rows.Next() {
            // get RawBytes from data
            err = rows.Scan(scanArgs...)
            if err != nil {
                panic(err.Error()) // proper error handling instead of panic in your app
            }

            var value string
            var vobj = make(map[string

[2015-09-28 06:47] #98 closed

[2015-10-09 08:25] lenguyenthedat commented on #97
It does work for me. But it doesn't show any tables on the left hand side, is that what happened to you?

[2015-10-09 11:43] abourget commented on #97
Yes.. same here.. the table defs aren't defined in the same place perhaps.. I remember using "information_schema" or something like that. I know there are two ways of accessing the same meta info.

[2015-10-12 02:25] lenguyenthedat commented on #97
Same problem with Amazon RDS (Postgresql) btw.

[2015-10-12 04:16] tylerlong opened #99 "SQL update never finishes"
I notices this several times.  I have a SQL update statement (or create index statement) which will take around 3 minutes (measured in psql). When I execute this statement in pgweb, it never finishes and I have to wait for ever.

I think it is because the frontend of pgweb timeouts and it won't wait for PostgreSQL to finish. So the frontend never updates even when the statement execution is finish

[2015-10-12 04:41] cbandy commented on #99
This may be easier to reproduce with `pg_sleep()`.

[2015-10-12 05:09] sosedoff commented on #99
@tylerlong did the issue only appear on longer (hours) requests? The behavior is indeed a bug, but i personally havent tested pgweb with longer running queries since it was not intended for that in the first place. Im currently running a long test using `pg_sleep`, maybe i can reproduce the bug.

[2015-10-12 05:22] tylerlong commented on #99
@cbandy brilliant idea!

@sosedoff  Yes only appear on longer requests. But not hours, minutes is able to reproduce.

I just tested this: `SELECT pg_sleep(300);`. This should be finished in 300 seconds, aka 5 minutes. But I have been waiting for 30 minutes and I am still waiting. I don't think pgweb will ever tell me that it's finished.

[2015-10-12 05:32] sosedoff commented on #99
@tylerlong i was able to run sleep query for 300 seconds, and web ui responded correctly. could you specify your stack? (postgresql version, web browser and its version). also, are you running latest pgweb version too?

[2015-10-12 10:45] tylerlong commented on #99
@sosedoff I just tested latest version with Chrome browser, it did work without problem.

What I had problem is Cocoa webview: https://developer.apple.com/library/mac/documentation/Cocoa/Reference/WebKit/Classes/WebView_Class/

So this might not be pgweb's issue. Let me test more and get back to you later.

[2015-10-20 02:23] sosedoff commented on #99
@tylerlong im going to close this for now, feel free to reopen the issue once you have some steps to reproduce the issue.

[2015-10-20 02:23] #99 closed

[2015-10-20 02:23] sosedoff commented on #94
Closing due to no response

[2015-10-20 02:23] #94 closed

[2015-11-29 22:27] zhulik opened #101 "Visual analyze"
Is it possible to add visual analylize like in pgadmin3?

offtop: 9.4 support? I have 9.4 on all my machines, pgweb works with it, but on installation wiki page 9.3 is latest supported

[2015-11-29 22:29] zhulik opened #102 "Postgis types support"
Is it possible to add postgis types support?

[2015-11-30 02:36] sosedoff commented on #101
of course it is! all PRs are welcome

should be working fine with anything 9.x at this point

[2015-12-07 20:20] jonathankau opened #105 "Custom table row limits"
It looks like it's currently set to 100, but it would be nice to be able to configure that from a settings page.

[2015-12-29 07:33] kenhahn85 commented on #15
Is this conversion still in progress? ReactJS has taken the JS community by storm, and is a very maintainable way to build front-end apps.

[2015-12-29 22:54] sammcj commented on #14
+1

[2015-12-29 22:55] sammcj opened #106 "Feature: Access multiple databases"
It would be great if you could authenticate to pgweb, then access a number of databases once logged in.

I.e. you might want to give access to some developers and they might need to access several databases on the same (or different) servers, each database will have its own set of permissions.

I guess a simple role based authentication would be fantastic?

[2015-12-30 04:03] abourget commented on #15
I'm doing more Polymer these days :) You're free to pitch it what you want.. I think we should close this one.

Someone else will take leadership in doing a solid UI..

[2016-01-05 05:58] #101 closed

[2016-01-05 06:03] sosedoff commented on #102
Closing this for now since postgis really has nothing to do with pgweb. Unless the question was more related to the UI part. Feel free to reopen though.

[2016-01-05 06:03] #102 closed

[2016-01-05 06:03] #15 closed

[2016-01-05 06:34] sosedoff commented on #105
I'll be working on table browse page in the next couple of days and should take care of this. Thanks.

[2016-01-05 06:38] sosedoff commented on #106
This makes sense, yes, but unfortunately pgweb does not use any sort of database to store its own settings or state so having any kind of authentication system will require it to have one. I was thinking about it for a while now since i sometimes too want to use pgweb in multiple "sessions". Adding this feature will require a significant refactoring effort so its not something i can work on right

[2016-01-05 06:38] #106 closed

[2016-01-06 19:13] skabbes opened #108 "bigint columns truncated to Javascript limits (52 - 53 bits)"
If you have columns that are bigint, they are truncated when displaying.  This will only happen if the values are larger the js limit.

[code]

<img width="344" alt="screenshot 2016-01-06 11 08 44" src="https://cloud.githubusercontent.com/assets/592178/12151910/649638ac-b466-11e5-8ade-549aa00e1a56.png">

[2016-01-06 19:17] skabbes commented on #105
+1 !

[2016-01-06 22:15] sosedoff commented on #108
Perhaps this could be solved by casting all rows' values to strings in JSON response. Its not the best solution (and def not the correct one), but otherwise it'll require some bignum js library to be brought in. Any other ideas ?

[2016-01-07 01:51] skabbes commented on #108
I haven't really dug into the code much, so bear with my naming...

From a quick glance, it seems like you have the column names only, but I believe postgres allow you to extract the type information as well as the column names.  So perhaps we could add another field to [Result](https://github.com/sosedoff/pgweb/blob/master/pkg/client/result.go#L12-L15) enumerating the types as well.

Then when yo

[2016-01-07 02:00] sosedoff commented on #108
Yeah, i did experiment with automatic encoding of bigint's as strings and it works fine, will probably fix the issue sometime this week.

[2016-01-07 02:18] skabbes commented on #108
Sounds great - thanks so much.  This is an awesome product I use daily.

[2016-01-08 02:20] #108 closed

[2016-01-08 02:24] sosedoff commented on #108
@skabbes try latest master, the issue should be fixed now.

[2016-01-08 07:46] smurfpandey commented on #106
@sosedoff About the multiple pgweb sessions in different tabs, I have implemented this in my fork [mysqlweb](https://github.com/smurfpandey/mysqlweb).
Basically I am storing a UUID for each new connection, and then sending that UUID on the frontend. On every API request, that UUID is passed in header.

1. Return UUID when new connection is created: https://github.com/smurfpandey/mysqlweb/blob/mast

[2016-01-08 13:30] sosedoff commented on #106
@smurfpandey thanks, yeah i get that, but i think the original question was not only related to database sessions, but also involves some sort of permission model. Anyways, i was hoping to get to session implementation soon.

[2016-01-08 21:45] sosedoff commented on #105
Implemented in master and will be part of the upcoming 0.8.0 release

[2016-01-08 21:45] #105 closed

[2016-01-13 04:13] sosedoff commented on #14
Implemented in master

[2016-01-13 04:13] #14 closed

[2016-01-13 04:14] sosedoff commented on #97
Amazon RDS should now be supported. I pushed support for multiple schemas into master.

[2016-01-13 04:14] #97 closed

[2016-01-13 14:34] gstoffer opened #113 "What about schemas ?"
Hi,

I tested your web interface and I can't navigate through schemas. :-)
Is it normal ?

Is this supported ?

Regards

Guillaume S

[2016-01-13 15:12] sosedoff commented on #113
Can you be more specific? Also, are you using latest master or latest binary release?

On Wed, Jan 13, 2016 at 8:34 AM, gstoffer <notifications@github.com>
wrote:

[2016-01-15 19:52] lukecyca opened #116 "Database for live demo"
This looks like a very nice project!

I tried to use the live demo, but didn't see any login information to be used.

Did I miss it?
Do I have to supply my own Internet-exposed postgres server in order to use the live demo?

[2016-01-15 19:55] sosedoff commented on #116
Yeah, you will have to provide a sample database in order to connect using demo instance. The reason why there's no database is because demo is hosted on heroku and they dont provide ability to create read-only users, at least not on free plan.

[2016-01-15 20:01] lukecyca commented on #116
Thanks for the clarification.

Again, awesome project.

[2016-01-15 20:01] #116 closed

[2016-01-19 02:32] sosedoff commented on #113
Closing due to no response.

[2016-01-19 02:32] #113 closed

[2016-01-20 14:29] tylerlong opened #117 "Explicitly set timeout to a very high value in javascript code"
I find that different browsers might have different timeout values. If you don't set timeout in javascript code,  the browser will set one.

Ref:

I request this to solve an issue I meet. I use the WebView control of Cocoa, it is like an embedded version of Safari. But unfortunately it has a very small default timeout value. And whenever I run a long running sql query, the request timeouts and the

[2016-01-20 14:38] tylerlong commented on #117
Or can we show a popup message to tell the user that it has been timeout. It's better than to let the user wait for ever.

[2016-01-20 17:41] sosedoff opened #118 "Add ability to resize custom sql query window"
Right now it cant be resized and makes it harder to write bigger queries.

[2016-01-20 17:41] brian-vogogo opened #119 "Stuck saying "Please wait, query executing...""
When running some ad-hoc queries, pgweb shows 'Please wait, query executing". No results grid shown. Browser still responding. Javascript console showing:

[code]

Behaviour is repeatable. Not sure what is common about the queries it fails on. Usually they are more complex.

[2016-01-20 18:21] brian-vogogo commented on #119
Simplifying the select list seems to help (e.g. changing from `t.*` to `count(*)`)

[2016-01-20 18:39] sosedoff commented on #119
I think i just fixed this bug in master, please give it a try.

[2016-01-20 21:42] brian-vogogo commented on #119
I think that fixed it. Will reopen if I see it again. Thanks!

[2016-01-20 21:42] #119 closed

[2016-01-20 21:46] brian-vogogo opened #120 "Long table names wrapping"
![image](https://cloud.githubusercontent.com/assets/9039521/12464092/94245d0a-bf84-11e5-9d8c-30639f03ebd4.png)

[2016-01-22 02:14] sosedoff commented on #117
I set timeout to 2 minutes, that should be enough for most queries. Use master branch to verify the fix

[2016-01-22 04:37] tylerlong commented on #117
@sosedoff Could we make it 5 minutes? There is no disadvantages to set a higher value.

And by the way, if it does timeout, could we show a popup to notice the user?

Thank you for your hard work!  :+1:

[2016-01-22 18:21] sosedoff commented on #117
Done

[2016-01-25 14:11] flesler commented on #10
I think this should be pretty easy to make.

You already made the Activity tab, it has which one is active and what's the pid.
I imagine active queries having a "kill" button that executes this:

[code]
And Activity tab is refreshed. That should do no?

[2016-01-25 14:13] flesler opened #121 "Have bookmarkable/persistent URLs"
This is not a critical one, but it'd be nice if (for example) clicking the Activity tab would also change the path to something like "/activity".

It's a common feature of single-page web apps like this.

[2016-01-25 14:19] flesler opened #122 "Keyboard Shortcuts"
Hi, you should document the supported shortcuts and maybe add some more.

By experimenting I discovered `ctrl+enter` for submitting queries. This info is key for the wiki.
Is there a similar shortcut for explaining?

You could also support the ones pgAdmin does, `F5` for querying and `F7` for explaining.

There are probably more undocumented and useful+missing shortcuts

[2016-01-25 14:22] flesler opened #123 "Persistent Query Panel"
It'd be great if the SQL panel could remember the code across refreshes and maybe even if the server is restarted.

You could simply store the code in `localStorage` every time it's executed.
You might want to clear the storage if the user/DB changes or store it with a prefix for each.

[2016-01-25 14:58] flesler commented on #123
Oops, it does. I was sure it didn't restore it. Maybe because I didn't execute the query.

[2016-01-25 14:58] #123 closed

[2016-01-26 01:10] sosedoff commented on #122
Added wiki page regarding keyboard shortcuts (there only few available): https://github.com/sosedoff/pgweb/wiki/Keyboard-Shortcuts

[2016-01-26 01:10] #122 closed

[2016-01-26 01:12] #117 closed

[2016-01-27 10:15] gauravarora opened #124 "Show table triggers"
I don't think this currently exists but if it does please feel free to smack me and close.

I'd like to be able to see what triggers are attached to a particular table. I think the best place for this information is the structure tab.

[2016-01-30 02:47] sosedoff opened #125 "Quick database switch"
Add ability to switch between available databases via some sort of dropdown. This is super useful when doing local dev and having to switch between different browser tabs or even pgweb sessions. This should not be very tricky to implement since database connection object saves the full connection url, so maybe there's need to expose another endpoint like `/api/switchdb` to handle this. One of the

[2016-01-30 02:52] sosedoff commented on #124
Right now structure tab is very simple and does not have ability to display data from multiple "sources", i.e it just displays a single table as any other view. There's a need to rebuild structure view to include more data but i don't think its a priority for me right now, at least not until i get to refactor the way different table views are displayed. I'll keep this issue open for now. If you wi

[2016-01-30 02:57] sosedoff commented on #121
Hi and thanks for the feedback. I agree that having more friendly links is better and helps
a lot when sharing pages, but unfortunately its not a priority for pgweb (or myself) at the moment.
I see that this feature could be easily implemented with any sort of routing/lightweight js framework, perhaps even with vanilla jquery. Will keep this open for now, feel free to contribute if you have any
in

[2016-01-30 02:58] sosedoff commented on #120
Hi, this issue is a basic regression and will be fixed in the next minor release. Thanks for the feedback.

[2016-01-31 19:23] epeli opened #126 "Camel case column names are broken in search"
I have a database where columns are named with a camel case convention. It seems that the search does not respect that.

Here the column name is `lastName` but the search error lists it as `lastname`.

![pgwebcamelcase](https://cloud.githubusercontent.com/assets/225712/12704301/96bf21c8-c860-11e5-8b83-dc95de5a2a29.png)

I know should find something with that query.

Using version v0.9.1 d3d408bc68

[2016-02-01 02:16] sosedoff commented on #126
Try running pgweb from master, it should have a fix in place.

[2016-02-03 19:35] danilobuerger opened #127 "Close Connection"
I might be blind, but how do i close a connection from the frontend?

[2016-02-04 17:08] sosedoff commented on #127
You're not blind, there's no button to close connection. If you're using single connection mode you can just stop/kill the app.

[2016-02-04 17:10] danilobuerger commented on #127
I am using the session mode.
So in that case, this is a feature request for a "Close Connection" button :).

[2016-02-04 19:11] sosedoff commented on #127
Cool, i'll look into it and perhaps add the feature to the next release

[2016-02-04 19:13] danilobuerger commented on #127
I can help out if you want.

[2016-02-04 22:15] sosedoff opened #128 "Add option to drop all tables in the schema"
During development sometimes its necessary to delete all tables. The easiest way of achieving that is by dropping the public (or any other) schema and then recreating it. However, database user might not be the owner of that schema so it wont work.

[2016-02-05 05:17] sosedoff commented on #127
Fix has been pushed to master. Please verify if it works for you.

[2016-02-05 10:42] danilobuerger commented on #127
Closing the connection works as expected. However there seems to be a glitch with the interface:

1. Log in
2. Click on Connect
3. Click on Cancel
4. Click on Disconnect

Now the connection is closed, but i have the ability to Cancel again. Which brings me back to the interface with all the loaded data still being presented. However new queries are errored out with "ERROR: sql: database is closed"

[2016-02-05 23:44] sosedoff commented on #127
Try now

[2016-02-05 23:49] danilobuerger commented on #127
Looking good!

[2016-02-05 23:55] sosedoff commented on #127
Cool. Closing for now then.

[2016-02-05 23:55] #127 closed

[2016-02-09 18:25] brianlow opened #129 "See records affected by update/insert/delete"
When running
[code]
would be nice to show 'UPDATE 5' instead of 'No records found'.

[2016-02-09 18:45] sosedoff commented on #129
As far as i know there's no alternative to MySQL's `mysql_affected_rows` function in PostgreSQL.
http://dev.mysql.com/doc/refman/5.7/en/mysql-affected-rows.html

[2016-02-09 18:54] brian-vogogo commented on #129
psql does it somehow:
[code]
but not sure how it does it.

[2016-02-09 19:09] sosedoff commented on #129
i can see that it somehow does it too, but there are no extra sql queries in the server log, so it must be something internal. I'll have a look later today.

[2016-02-10 02:09] cbandy commented on #129
https://golang.org/pkg/database/sql/#Result

[2016-02-14 08:39] dufferzafar commented on #59
@sosedoff Has this been put off-shelf or will this be worked on now?

[2016-02-14 16:17] sosedoff commented on #59
no, its not worked on right now and i don't have an ETA on when its going to be available.

[2016-02-17 21:53] robbles opened #130 "Support for .pgpass config file"
The `psql` CLI supports reading from the `~/.pgpass` configuration file with a standard format, so that you don't need to put passwords into the command-line history or enter them in every time.

Could pgweb read this file and replace an empty password with one found in there for a matching host?

[2016-02-17 22:56] sosedoff commented on #130
Yes, this feature could be supported, but only in a single session mode.

[2016-02-18 05:31] skabbes opened #131 "relative paths for static assets"
I would like to expose this tool as a page on an admin site as `admin.site.com/db`.  However, this is very hard since the client side code uses absolute paths to assets.

My approach would be something like this:

[code]

But this is currently impossible, because `index.html` references all of its required assets in an absolute sense.  I believe that all that would be required would be make all cl

[2016-02-18 09:00] doomsplayer opened #132 "Base64 encoding got `+` causing `pq: syntax error`"
when downloading as csv or something equivalent, some base64 encoded sql contents also have `+` in their results causing `pq: syntax error`

e.g.:
[code]
will be encoded to:
[code]

[2016-02-18 09:01] doomsplayer commented on #132
simmilar to #95

[2016-02-18 16:23] sosedoff commented on #132
Thanks for the report. Will fix.

[2016-02-18 16:24] sosedoff commented on #131
Sure, if you a patch that does not introduce any breaking changes i'd gladly accept it.

[2016-02-19 03:17] sosedoff commented on #132
Fix is pushed to master, please give it a try.

[2016-02-19 04:40] sosedoff opened #134 "Show connection progressbar"
After clicking on "connect" button, render some spinner to  indicate that connection is being established. Otherwise its not clear why nothing is going on while in fact connection is being opened. This makes more sense for any SSH-base connection as those take significantly more time to complete.

[2016-02-19 04:47] #129 closed

[2016-02-19 04:49] sosedoff commented on #129
Try master, it should now display number of affected rows if sql statement starts with `UPDATE` or `DELETE`.

[2016-02-19 04:49] #132 closed

[2016-02-19 04:50] sosedoff commented on #131
On the other hand i would probably prefer a solution that changes the path prefix for the whole application. That would work better IMO. Thoughts?

[2016-02-19 05:29] #126 closed

[2016-02-19 06:01] skabbes commented on #131
In short: I don't think it adds any additional value.  To elaborate...

I think the value of relative paths is being able to run pgweb alongside another web app (so pgweb doesn't need an entire subdomain).  However, to do that, you're going to need an HTTP reverse proxy in front of it anyway (since how else would you share the same tcp port)?

I could see 3 possible scenarios here to run Pgweb nex

[2016-02-19 16:52] brian-vogogo commented on #129
:+1: Looks good!

[2016-02-20 02:32] sosedoff commented on #120
Fixed

[2016-02-20 02:32] #120 closed

[2016-02-20 03:30] sosedoff commented on #131
I don't necessarily agree that having a url prefix does not provide any value. Having a url prefix baked into the app's makes it super easy to use with software like nginx.

I pushed a new git branch `url-prefix` that implements url prefix for pgweb, you can compile the source code from that branch and then start pgweb with `--prefix=db/`.

For nginx, then you can configure pgweb as follows:

[cod

[2016-02-20 03:42] skabbes commented on #131
Ah, cool. I think you can also put:

location /db/ { proxy_pass http://pgweb; } 

(Note the trailing slash on /db/) and it will strip "db" off the proxied request. One extra character for no additional code in golang.

—
Sent from Mailbox

On Fri, Feb 19, 2016 at 7:30 PM, Dan Sosedoff <notifications@github.com>
wrote:

[2016-02-20 03:53] skabbes commented on #131
But either way works for me, thanks so much for doing this!!

—
Sent from Mailbox

On Fri, Feb 19, 2016 at 7:30 PM, Dan Sosedoff <notifications@github.com>
wrote:

[2016-02-21 02:52] sosedoff commented on #131
Implemented on master. Feel free to reopen if you find any issues

[2016-02-21 02:52] #131 closed

[2016-02-21 03:07] #134 closed

[2016-02-22 13:47] imkritesh opened #136 "How to disable tabs like history and activity without self building the code."
I want to remove history and activity tabs from pgweb. Is there some way to do so without self building the code. Where does history and activity data gets stored?
 I am using executable for linux.

[2016-02-22 14:33] sosedoff commented on #136
Query history is stored in memory while pgweb is running. Activity data is actually not something that is being stored and comes directly from postgresql server. Right now there's no way to disable both these features so your only option is to build from source.

[2016-02-22 14:49] imkritesh commented on #136
Thanks.

[2016-02-22 14:49] #136 closed

[2016-02-22 14:52] sosedoff commented on #136
FYI, if you want to rebuild pgweb without activity and history tabs, you can remove the following lines here (https://github.com/sosedoff/pgweb/blob/master/static/index.html#L27-L28) and then build pgweb:

[code]

[2016-02-23 00:08] sosedoff opened #137 "Sanitize SQL queries where possible"
Right now its pretty easy to make an SQL injection

[2016-02-23 05:39] imkritesh commented on #136
Changes in static/index.html are not reflecting after building. I can not figure out whats the problem?
commands I have used:
make setup
go get
make build

[2016-02-23 05:47] sosedoff commented on #136
Try running `make assets` first.

[2016-02-23 05:49] imkritesh commented on #136
I have tried that too. Even if I remove index.html from static folder it still works and no change is reflected.

[2016-02-23 12:53] tylerlong opened #138 "Click "Edit Connection" twice, scheme field cleared."
How to reproduce:

1. `./pgweb_darwin_amd64`
2. Enter scheme and click connect
3. Click "Edit Connection"
4. Click Cancel
5. Click "Edit Connection"

Now the scheme field is blank. It should be filled with the current connected scheme.

[2016-02-23 15:11] sosedoff commented on #136
Hm, i just did the following:

1. opened index.html file, removed both tabs (activity/history)
2. ran `make build` (which runs asset build task as well)
3. started pgweb from current dir `./pgweb`

and both tabs are gone from the interface. are you sure you're not starting your system-wide pgweb version instead of freshly built one?

[2016-02-25 02:07] tylerlong opened #140 "Table Information always shows vertical scroll bar"
![screen shot 2016-02-25 at 10 04 53 am](https://cloud.githubusercontent.com/assets/733544/13307579/4763511c-dba7-11e5-9085-35808a9bc79d.png)

Vertical scroll bar is always shown even when the browser window is very large.

Chrome Version 48.0.2564.116 (64-bit)， OS X 10.11.3

[2016-02-25 04:22] #140 closed

[2016-02-25 04:35] sosedoff opened #142 "Include session token for export endpoint"
In multi-session mode export to csv/json/xml does not work because pgweb does not include
the session token in the export url parameters.

[2016-02-26 20:49] #142 closed

[2016-02-27 05:24] doomsplayer opened #144 "long table name/object name breaking the format in sidebar"
![image](https://cloud.githubusercontent.com/assets/998606/13370982/2baae9b2-dd55-11e5-9087-44d594fb4ab0.png)
![image](https://cloud.githubusercontent.com/assets/998606/13370985/51ffd7d0-dd55-11e5-8ae0-f80056b2e460.png)
seq name `namecheap_subscription_periods_id_seq` is so long that it becomes a newline rather than the same line with the circle

[2016-02-29 13:59] sosedoff commented on #144
This issue has already been fixed in master and will be available in the next release.

[2016-02-29 14:18] doomsplayer commented on #144
@sosedoff thanks

[2016-02-29 14:18] #144 closed

[2016-03-02 01:42] #138 closed

[2016-03-02 01:42] sosedoff commented on #138
Fixed in master.

[2016-03-10 08:01] 64b2b6d12b opened #145 "Support for Client Certificates"
When a database is configured to only allow Client Certificate connections, pgweb will fail to connect and we see the following error `pq: connection requires a valid client certificate`. Is there a way pgweb can support Client Certificate connections?

[2016-03-24 18:44] akarki15 commented on #125
agreed. i have to constantly go back to the login screen and change the database name to switch

[2016-03-24 18:44] akarki15 commented on #125
i can look into adding this feature

[2016-03-24 19:28] akarki15 opened #146 "Make tabs sticky"
It would be nice to make tabs sticky- it is annoying that whenever I change table, it defaults to `Rows`. A lot of times I am just concerned with the `Structure` or schema of the table.

Hence making the tabs sticky is a quick yet effective solution to this.

[2016-03-28 04:37] sosedoff commented on #146
Thanks for the feedback. This change should be a fairly easy one, i might get to work on it this week unless you have a PR ready.

[2016-03-28 04:38] sosedoff commented on #145
This seems to be a legit issue. Btw, how are you connecting to your server? Via host/port/etc or via database uri string?

[2016-03-28 12:56] akarki15 commented on #146
I don't have a PR yet, so feel free to work on it!

[2016-04-16 16:02] akarki15 opened #148 "responsive search bar"
the search bar gets all weird when the window is resized. i am running chrome 49.0.2623.112 (64-bit) on a mac os x 10.10.3 (yosemite). this is a low hanging fruit -

![screen shot 2016-04-16 at 11 58 30 am](https://cloud.githubusercontent.com/assets/3751173/14582139/d2b7c0fe-03ca-11e6-945d-34aef23b6ffe.png)

[2016-04-17 18:10] akarki15 opened #149 "failling tests: executables not found in $PATH"
im getting the following error on `make test`. looks like https://github.com/sosedoff/pgweb/pull/139 is also failing due to the same error.

[code]

[2016-04-24 07:02] sosedoff commented on #149
Do you have postgresql installed locally?

For my local dev i use mostly homebrew-provided postgresql:
[code]

[2016-04-25 19:13] joncrlsn commented on #137
I don't understand this "bug".  This tool lets you run any SQL you want.  There is no need to inject SQL into another SQL statement when you can run any SQL you want directly.

[2016-04-25 20:57] sosedoff commented on #137
I opened this ticket from a private conversion (as a reminder), but i think its no longer valid. In other words, pgweb should not be used in untrusted environments, or used with a read-only user. Closing this for now.

[2016-04-25 20:57] #137 closed

[2016-04-26 09:38] jonaz opened #150 "Specify search_path (schema via cmd)"
I would like a --search-path command line argument which connects to the correct schema.

Currently im launching pgweb programaticly and would like an option to run
set search_path to XXXX; so i dont have to input it in the webui before running my selects.

[code]

[2016-04-26 14:04] sosedoff commented on #150
Since you're running pgweb programmatically, you can make a call to the api to set the schema. Here's an example:

[code]

[2016-04-26 14:22] jonaz commented on #150
Oh, thanks. Closing this as this solves my issue!

[2016-04-26 14:22] #150 closed

[2016-04-30 18:37] kefirchik opened #151 "Can't get pgweb running from docker with wiki config"
```docker run``` prints out that it starts at 0.0.0.0:8081,but in wiki I see localhost:8080 and nothing of it works

It works when I change port to 8081 ```docker run -p 8081:8081 ...```

[2016-04-30 18:40] sosedoff commented on #151
You should be using port 8081, i think i havent updated wiki to reflect the change in default port used by pgweb.

[2016-04-30 18:41] kefirchik commented on #151
Thanks for the response I fugured it out and update comment :+1:

[2016-04-30 18:42] kefirchik commented on #151
Everything works fine with port 8081

[2016-04-30 18:42] #151 closed

[2016-05-13 13:29] joeblew99 opened #152 "docker run failing"
The run command to boot up the web ui is failing.
As per wiki instructions: https://github.com/sosedoff/pgweb/wiki/Docker

I am not that familiar with docker, but it may be to do with the fact i am using the latest docker for mac on OSX that uses xhyve (and not virtual box), and it maybe an API change with dockers latest release ?

Docker Information
API Endpoint: dockerapi
API Version: 1.23
Docke

[2016-05-13 15:09] sosedoff commented on #152
I updated the wiki to include the proper command. It was missing the image name (sosedoff/pgweb).

[2016-05-13 15:09] #152 closed

[2016-05-21 03:38] skabbes opened #153 "push to dockerhub?"
It would be great to get pgweb 0.9.2 from dockerhub, if you have time.

[2016-05-21 03:41] sosedoff commented on #153
sure thing. i should probably automate that, always forget.

[2016-05-21 03:46] sosedoff commented on #153
done

[2016-05-21 03:46] #153 closed

[2016-05-23 08:18] coussej opened #154 "Multiple Query tabs"
Hello,

first of all, awesome project :+1: . I've been looking for a slick open-source postgres interface for a while now, and this seems to be going in the right direction.

Therefore, may I suggest a feature: allow for multiple query tabs to be open at the same time, like you can have in SQL server, HeidiSQL, ... I think I'm not the only one who like to have different queries + result sets open

[2016-05-24 14:59] sosedoff commented on #154
There's a multi-session support available right now, but its slightly different from what you're asking. Although it allows you to run number of connection with different servers in the same browser.

Thanks for the suggestion, i'll look into it as soon as i have spare time.

[2016-06-08 17:06] benlowry opened #156 "Bytea fields download automatically when selecting tables"
If you select a table it automatically opens the rows view,  when it has bytea data pgweb downloads it all and is unresponsive till it finishes, with no notification of what's going on or how long to remain.

I think bytea fields should have a link to download, ideally with the size if that's possible.

Second best would be a progress bar or something, that would also stop the browser messages abo

[2016-06-08 21:51] CzechJiri opened #157 "allow changing default schema via URL"
since 9.4 postgres supports `currentSchema` via URL, it would be nice if this could be added to pgweb

[code]

[2016-06-08 21:55] CzechJiri opened #158 "docker deployment "too fast""
I am using pgWeb in dev environment with my DB in docker-compose, the problem is pgweb docker starts too fast meaning before postgres is up and accepting connection and typically terminates with `Error: dial tcp 172.19.0.2:5432: getsockopt: connection refused`

it would be nice we there is an env parameter to pause before the service starts or even better us [wait-for-it.sh](https://github.com/vis

[2016-06-08 22:52] CzechJiri opened #159 "sosedoff/pgweb:latest is not latest"
sosedoff/pgweb:latest seems to be 5 months old and looking at the size, corresponds to version 0.8 instead of latest 0.9.2

https://hub.docker.com/r/sosedoff/pgweb/tags/

[2016-06-08 22:58] CzechJiri commented on #158
closing... this seems to be very rare close to non-existent in 0.9.2 ... I was using latest release which corresponds to 0.8

[2016-06-08 22:58] #158 closed

[2016-06-09 13:49] sosedoff commented on #159
You're right. I think i pushed a wrong tag.

[2016-06-12 09:57] ekiyanov opened #160 "Process was not started"
I have cloned sources, build it on target machine ( raspberri pi 2+ )
It was compiled, but when i'm trying to run it, it's literally doing nothing.
`ps aux | grep pgweb ` also showing nothing.

I tried in debug/release mode, with key -s ( to prevent browser opening ), providing connection data in different way , but nothing happens.

non any single message or error...

[2016-06-14 03:06] akarki15 commented on #149
the issue was i didn't have the postgres command lines tools installed. i fixed it now and it is working.

[2016-06-14 03:06] #149 closed

[2016-06-14 04:06] akarki15 opened #161 "test assertion assumes a clean postgres db"
i am running `make test` on master and it is failing because the expected tables returned by `statements.PG_OBJECTS` does not _exactly_ match the tables that the running postgres has. `statements.PG_OBJECTS` returns tables from all databases, not just the one that the `client.TestAll()` creates. however, the test at [line 203](https://github.com/sosedoff/pgweb/blob/master/pkg/client/client_test.go

[2016-06-14 04:25] akarki15 commented on #160
can you details how you went about running the binary? and what the output of invoking the binary was?

[2016-06-14 05:22] ekiyanov commented on #160
There was no output at all.

`./pgweb --bind=10.8.0.30 --listen=3005 -s --host=localhost -d --user=cambolive_user --db=cambolive_db`

`./pgweb --bind=10.8.0.30 --listen=8081 -s`

`./pgweb --url postgres://cambolive_user:secret_pass@cambolive_db:5432/postgres?sslmode=false --bind=10.8.0.30`

[code]

[2016-06-14 14:29] sosedoff commented on #160
@ekiyanov could you provide the following:

- go version used to compile sources
- build commands used to make a binary

RPI is not "officially" supported (no precompiled binaries) but i dont see why it wont run on the device. In fact i ran a cross-compiled binary on RPI once i think, didnt have any issues.

[2016-06-17 16:01] sosedoff commented on #161
How did you get extra tables in the test database?

[2016-06-17 16:10] akarki15 commented on #161
i didn't. look slike `statements.PG_OBJECTS` returns tables from all the databases

[2016-06-18 00:59] sosedoff commented on #161
PG_OBJECTS statement only returns objects from the current database. Also, if you look at client tests, it drops and then recreates the database on every run so you should not have any extra tables in your database. Would need more info on your setup since i cant reproduce your issue.

[2016-06-22 21:05] msaron opened #163 "Timestamp not recognized by Excel in CSV output"
I exported a table that has a timestamp without timezone column. The JSON exports the data correctly but the CSV timestamp data column is not recognized by Excel.
JSON data output =
`[{"created_at":"2015-06-22T01:48:14.928Z","pk":103}]`

CSV data output =
`pk,created_at`
`103,2015-06-22 01:48:14.928 +0000 +0000`

[2016-06-26 17:50] sosedoff opened #164 "Switch docker image to scratch"
This will drastically reduce overall image size.

[2016-06-28 01:49] sosedoff commented on #164
Switched to alpine.3.3 instead. Overall size is 17Mb comparing to 308Mb

[2016-06-28 01:49] #164 closed

[2016-06-28 01:55] sosedoff commented on #159
Fixed. Public registry should contain proper `latest` and `0.9.2` release rebuilt using alpine image and as a result its image side has been reduced to 8Mb.

[2016-06-28 01:55] #159 closed

[2016-06-28 03:43] sosedoff commented on #163
Sorry but i don't have Excel around, only Google Docs. I made a sample CSV export document that has both date and datetime columns. Try to import it and see if that works. Here's the link: https://dl.dropboxusercontent.com/u/486271/pgweb-1467084910.csv

Im not 100% sure how timestamps should be formatted in CSV files for Excel ingestion, but with a bit of googling it looks like its a standard `yyy

[2016-06-28 03:49] sosedoff commented on #160
Pgweb now has support for ARMv5. Since i have a few raspberry pi's around i was able to verify that cross-compilation works fine. Im using Go 1.6 for all development just FYI.

I dont have any pre-built binaries out yet (will be available starting with 0.9.3) but you can build one yourself. Make sure to pull latest changes and then run `make release`. After its all done, grab a binary file ./bin/p

[2016-06-28 03:49] #160 closed

[2016-06-28 03:51] sosedoff commented on #160
P.S Here's the command used to cross-compile: https://github.com/sosedoff/pgweb/blob/master/Makefile#L56-L58

[2016-06-28 03:57] sosedoff commented on #161
You should not have any tables while running `make test` since it will drop and recreate the database on every run, see https://github.com/sosedoff/pgweb/blob/master/pkg/client/client_test.go#L332
Closing for now since its an edge case and has something to do with your local setup. I tried to reproduce with no luck.

[2016-06-28 03:57] #161 closed

[2016-06-28 13:24] msaron commented on #163
Yes that worked! Thank you!!!

[2016-06-28 13:24] #163 closed

[2016-06-28 15:18] sosedoff commented on #157
Pgweb under the hood uses [lib/pq](https://github.com/lib/pq) library to connect to postgresql, please submit your request in that project.

[2016-06-28 15:18] #157 closed

[2016-06-28 21:39] CzechJiri commented on #157
thank you! Opened ticket, got really quick great responses. It looks like the pq connection string supports it, they do not follow same naming as JDBC does, pq does does not use `currentSchema`, it uses `search_path` instead, the connection looks like this and works like a charm :-)

[code]

[2016-06-29 01:50] sosedoff commented on #156
Please provide a sample SQL file so that i can test and fix the problem.

[2016-07-01 02:54] akarki15 commented on #161
sorry for replying late @sosedoff. i found out that for some reason whenever i create a new pg database, it was automatically creating a table named "person". i think there is some default schema being applied to every new table and that was polluting the test db. since this is an issue very specific to my machine setup, im going to close the pull request as well. thanks for getting back though!

[2016-07-01 03:42] cbandy commented on #161
@akarki15 check the `template1` database.

 https://www.postgresql.org/docs/current/static/sql-createdatabase.html

[2016-07-01 04:45] akarki15 commented on #161
holy shit that was it. thanks a lot @cbandy!

[2016-07-05 13:23] benlowry commented on #156
create table tmp (
        blob bytea
    );

    insert into tmp(blob) values('\xinsert this row lots of times and pad the data with junk so it is nice and bloated asdflskadjfsaldkjfsadlkfjasdlkfjasdlfkjsadflkjsdaflksdajflasdkjfasdlkfjasdlfkjsadlfkjsadflksdajflsdkajfalsdkfjsdalkfjsadlfkjasdflkjsadflkasdjflasdkjfsdalkfjasdlkfjsdaflkjsadflksadjflkasdjflasdkfjsdalkfjsadflkjsdajlfkksjldafjasldkfjsdal

[2016-07-05 16:21] sosedoff commented on #156
Thanks, i will check on this issues once i get some free time.

[2016-07-05 23:30] sosedoff commented on #156
I just created a table from your example using pgweb 0.9.3 (latest) on OSX (chrome) and this is what i got so far:
![screenshot 2016-07-05 18 27 59](https://cloud.githubusercontent.com/assets/71051/16603016/4cd133d2-42de-11e6-99a8-5702bbcc4bc6.png)

Nothing was downloaded automatically. Also tried Safari and Firefox, both work.
What OS and browser are you using?

[2016-07-05 23:37] benlowry commented on #156
That is what you downloaded, you just need to provide a lot more to see the effect, try some 10s of megabytes and you will probably see your browser start straining!

[2016-07-06 00:12] sosedoff commented on #156
Ah i see what you mean now. What is the behavior you expect?

[2016-07-06 00:28] benlowry commented on #156
Ideally clicking the tables wouldn't include the raw data at all, that could be solved by:

- only returning the bytea data when selecting it explicitly

- a way to edit the 'you selected the table' query so you can exclude columns

[2016-07-13 11:19] kurotsukikaitou opened #166 "Secure http server"
Is there any plan for implementing https protocol instead of http? running this on production server is risky when it doesn't have https protocol. I know this pgweb should only ran only when we need it. But we still need the transport to be secured.

CLOSED: Sorry, didn't see the old post. I closed this issue. :)

[2016-07-13 11:21] #166 closed

[2016-07-13 11:22] kurotsukikaitou commented on #84
Any idea how to do it using apache2?

[2016-07-13 11:38] Garbee commented on #84
@kurotsukikaitou Just search for Apache reverse proxy instructions. That's all my nginx config is doing.

[2016-07-13 12:00] sosedoff commented on #84
@kurotsukikaitou also keep in mind that running pgweb on your production servers is not recommended for security reasons.

[2016-07-13 12:03] kurotsukikaitou commented on #84
Well.. I planning just running it only when I need to access it. Otherwise, I'll kill the process.

[2016-07-13 12:07] sosedoff commented on #84
There are a couple of options to consider if you need to connect to your production database:

1. Setup pgweb username and password (there's no default), and perhaps a read-only database user.
2. If you're using ssh keys to connect to the server you can use pgweb's built-in ssh tunnel feature or using native ssh client (https://github.com/sosedoff/pgweb/wiki/SSH-Gateway)

[2016-07-13 12:08] Garbee commented on #84
Protect it with a password (htaccess) and it should be fine unless it gets brute forced. Otherwise I don't see any other potential hole from it in this context as to any other part of your server getting attacked.

[2016-07-19 00:35] trengrj opened #168 "Fix performance on previewing large tables"
When a table is viewed the function `TableRowsCount` is called to get the size of the table for pagination. This unfortunately is a very slow operation on large tables as it calls `SELECT COUNT(1) FROM TABLE` which is slow in Postgres and will cause the application to hang on tables in the many gigabytes range.

I've got a working commit here which uses the estimated table size (if it is available

[2016-08-01 11:41] plispe opened #171 "Heroku deploy (with deploy button) is broken"
When I deploy pgweb to heroku with deploy button from github. I get following error

Asset static/index.html can't read by error: Error reading asset static/index.html at /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: open /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: no such file or directory

I have no idea what's going on.

[2016-08-01 15:33] sosedoff commented on #171
Fixed. I accidentally committed dev version of bindata (which is used to store all static assets).

[2016-08-01 15:33] #171 closed

[2016-08-31 00:34] benlowry commented on #156
This was pretty much fixed for me by limiting the number of rows returned when clicking a table.

Thanks for all your wonderful work @sosedoff!

[2016-08-31 00:34] #156 closed

[2016-09-03 17:25] sosedoff opened #176 "Keep sidebar entries if database does not have any objects (tables, views, etc)"
Currently, if database does not have any objects (tables, views, etc) the sidebar is simply empty. This is a bug, the sidebar should always show the schema even if there's no objects that user could view.

[2016-09-03 17:31] sosedoff commented on #168
Thanks for bringing this up and sorry for the late response. Indeed, COUNT(*) is very slow on large data sets so having a hybrid approach would solve the issue (partially). Ideally, we could first check the estimated rows count and if its below 100k (just an example) rows we use COUNT, otherwise use the estimated rows count for pagination. I would also prefer keeping the pagination where possible

[2016-09-05 16:04] felixbuenemann opened #178 "Add AUTH_USER / AUTH_PASS environment variables"
It would be great if AuthUser and AuthPass could be set with environment variables. This would allow to use basic auth when running with the default docker image.

[2016-09-05 16:25] felixbuenemann opened #179 "Display bytea columns hex encoded"
Currently (on 0.9.4) the content of bytea columns is shown as a UTF-8 string in the table view.
It would be nice if these columns could be shown using hex encoding instead.

The encoding can be done in postgres using:

[code]

[2016-09-05 16:38] sosedoff commented on #178
Sure, i'll have a look at this

[2016-09-05 16:41] sosedoff commented on #179
But this kind of behavior would require the server to keep tabs on types of fields used in each table. I understand that it will be a much nicer user experience, but i dont really have the time to work on something like this. If you have any suggestions / code snippets i would definitely help getting the feature added, but otherwise i'll leave this issue open.

[2016-09-05 17:40] numbleroot opened #180 "Linux: Wrong paths lead to asset error"
Hi Dan,

when I `go get` this project, `go build` and afterwards open up `http://localhost:8081`, I get an 400 error with following message:
`Asset static/index.html can't read by error: Error reading asset static/index.html at /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: open /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: no such file or directory`

Tak

[2016-09-05 17:46] sosedoff commented on #180
You're right. Fixed the issue and will probably do something about it for the long run.

[2016-09-05 17:46] #180 closed

[2016-09-06 04:35] felixbuenemann commented on #179
I'm not familiar with go, but would it be easier to do the hex encoding in go?

If it's possible to reflect on the result's column type to see if it's a Bytea, it should be possible to encode it using something like `hex.EncodeToString()`.

[2016-09-06 05:45] felixbuenemann commented on #168
It's also worth noting that OFFSET pagination will get slower the further you paginate, because postgres has to first fetch all rows preceding the offset and throw them away. A faster way is to use keyset pagination, something like `WHERE id > (last row id from previous page) LIMIT n`. Not sure if that's practical to implement here, because it requires knowledge of the underlying table.

Also see

[2016-09-08 12:51] felixbuenemann opened #181 "Allow disabling Connect / Disconnect functions"
It would be great if there was a way to lock pgweb to a single database specified by the DATABASE_URL and disable the functionality to disconnect and connect to different databases.

There yould be a commandline switch like `--single-database` and an environment var like SINGLE_DATABASE=1.

[2016-09-08 14:57] sosedoff commented on #181
What is your use case for such feature?

[2016-09-08 16:39] felixbuenemann commented on #181
I would like to give developers access to databases for certain projects. The should not be able to connect to any other databases from pgweb.

[2016-09-08 16:46] felixbuenemann commented on #181
To add a little more detail: The database server is running in a virtual private network and I would like to deploy one pgweb container per app I would like to give database access to with different basic auth credentials.

[2016-09-11 08:58] syamantm commented on #181
+1

[2016-09-15 10:45] ManuelWeiss commented on #181
+1

[2016-09-19 20:01] jamesdixon opened #182 "add new row/save"
I thought long and hard about asking this after scanning over the UI a bunch, but is it not possible to edit values directly within a row? When I click on a row, it's editable, but there's nowhere in the UI to save. I also don't see an option to insert a row in the table view.

I know I can do both of these by executing a query, but just wanted to confirm that I'm not crazy :)

Thanks!

[2016-09-19 20:19] sosedoff commented on #182
You're not crazy, these types of features (editing, etc) are not part of the pgweb yet. I've been experimenting with a few options but havent committed to anything just yet.

[2016-09-19 20:20] jamesdixon commented on #182
@sosedoff - thanks, much appreciated!

Overall, loving pgweb! Appreciate your hard work.

Cheers!

[2016-09-19 20:20] #182 closed

[2016-09-29 01:49] sosedoff commented on #178
Implemented in master and will be available in the next release.

[2016-09-29 01:49] #178 closed

[2016-09-29 02:37] doomsplayer opened #183 "Support for details of foreign tables"
Currently pgweb won't show any information about foreign tables in left side bar.

[2016-09-29 15:45] Kiran-N opened #184 "Download functionality works only once or twice."
I deployed pg-web in my own heroku instance. I am facing this error when I use download functionality more than twice.
{"error":"pq: syntax error at or near \"c2VsZWN0IGludm9pY2VfbnVtYmVyIGZyb20gcGF5bWVudG1hbmFnZXIuanBtX3NldHRsZW1lbnQgd2hlcmUgYmF0Y2hfaWQ9Jy0xJyBhbmQgc3RhdHVzID00MDAgb3JkZXIgYnkgc2V0dGxlbWVudF9pZCBkZXNjCgoKc2VsZWN0ICogZnJvbSBwYXltZW50bWFuYWdlci5qcG1fc2V0dGxlbWVudCB3aGVyZSBiYXRjaF9pZ

[2016-09-29 23:09] felixbuenemann commented on #178
Thanks, I'll try it out once the new release is out and pushed to docker hub.

[2016-10-03 15:02] SjonHortensius opened #187 "Pagination/Filters - supposed to be visible on Activity/Connection ?"
Because the #pagination shows when switching from the Rows tab; but is hidden when switching from any of the other tabs (like Structure / Indexes).

I'm not sure what the correct behavior is, it might make sense for the Activity tab to have pagination but not filtering

[2016-10-04 02:59] sosedoff commented on #187
Pagination/Filters are only intended for browser view (aka rows). There's no supporting functionality for other pages in the backend so the correct behavior is not to show them on any other pages. If you wish to have pagination on activity page, feel free to submit PR. Closing for now since its not a top priority nor requires any special attention.

[2016-10-04 07:20] SjonHortensius commented on #187
Please re-open; this is a bug-report. The pagination on the activities page is not hidden after switching from the Rows tab

[2016-10-04 14:41] sosedoff commented on #187
Ah, misunderstood your report. Indeed, its a bug.

[2016-10-07 17:07] marks opened #188 "Workbench features"
Would love to see some features around saving the SQL query, schema, results, etc. to disk.

[2016-10-07 18:39] vpsm commented on #184
Likewise.

[2016-10-07 21:43] sosedoff commented on #188
yeah, i was thinking about adding a database (sqlite) to store settings and other db-related stuff (mostly queries). not sure when i get to implement that.

[2016-11-04 00:17] sosedoff opened #189 "Allow connecting to bookmarked server from CLI"
Something like this would work:

[code]

[2016-11-04 01:10] sosedoff commented on #187
Fixed in master, will be available in the laster release.

[2016-11-04 01:10] #187 closed

[2016-11-04 01:11] sosedoff commented on #184
Fixed in master and will be available in the next release.

[2016-11-04 01:11] #184 closed

[2016-11-04 01:15] sosedoff commented on #183
Sorry, but this is something pgweb is not going to support at this time. I'll tag this issue so i can revisit it in the future.

[2016-11-04 01:15] #183 closed

[2016-11-04 01:54] sosedoff opened #192 "Allow running pgweb in read-only mode"
In some cases you dont want to allow any potentially destructive to be run in pgweb. Having a `--readonly` flag should take care of that.

Could be implemented using:

[code]

[2016-11-04 01:56] sosedoff commented on #154
This feature would require a major overhaul of the current backend and frontend implementations, so closing this until better times.

[2016-11-04 01:56] #154 closed

[2016-11-06 01:51] sosedoff commented on #10
Implemented in master

[2016-11-06 01:51] #10 closed

[2016-11-06 02:59] #192 closed

[2016-11-06 02:59] sosedoff commented on #181
Implemented in master

[2016-11-06 02:59] #181 closed

[2016-11-07 03:53] sosedoff commented on #125
Implemented in master. UI is not superb, but it does the job. UI will be improved in the next releases.

[2016-11-07 03:53] #125 closed

[2016-11-07 03:54] sosedoff commented on #118
Speaking of resizes, other components should be able to be resized, not just the query window. Planning on working on it in the next releases (will open another issue).

[2016-11-07 04:11] sosedoff commented on #124
Closing due to no action (im personally not interested on working on this feature)

[2016-11-07 04:11] #124 closed

[2016-11-07 04:12] sosedoff commented on #130
Closing due to no activity. I've personally never used pgpass files and nobody else expressed interest in the feature so far.

[2016-11-07 04:13] sosedoff commented on #146
Implemented. Should be soon in master.

[2016-11-07 04:13] #146 closed

[2016-11-07 04:15] sosedoff commented on #128
Closing due to no need. Dropping all tables in schema is a very specific behavior which i personally had very little use for. Better to drop the schema/db instead.

[2016-11-07 04:15] #128 closed

[2016-11-07 04:16] sosedoff commented on #145
No feedback. Closing.

[2016-11-07 04:16] #145 closed

[2016-11-08 04:30] akarki15 commented on #189
should the bookmark be a local file that stores db connection settings?

[2016-11-08 04:31] akarki15 commented on #189
better - where would the bookmark info be stored?

[2016-11-08 12:03] Toub opened #199 "Upgrade docker to 0.9.5"
Dockerfile target pgweb 0.9.4, while last version is 0.9.5.

Please upgrade docker file and publish the image.

[2016-11-08 15:36] sosedoff commented on #189
@akarki15 Server bookmarks are already implemented. This issue is about how to initialize a connection from bookmarks, which are stored under `$HOME/.pgweb/bookmarks/*.toml`

[2016-11-08 15:39] sosedoff commented on #199
Done

[2016-11-08 15:39] #199 closed

[2016-11-09 05:34] akarki15 commented on #189
i have a prototype that works. you can assign this to me

[2016-11-11 01:14] akarki15 commented on #188
Syntax completion would be awesome too!

[2016-11-16 03:00] sosedoff commented on #168
Does anyone have any interest in tackling the problem?

[2016-11-16 03:49] #189 closed

[2016-11-16 04:06] #176 closed

[2016-11-18 08:21] kblomqvist opened #203 "Syntax error when trying to export data (json, csv, xml)"
In SQL Query tab whenever I press JSON, CSV or XML, I'll get error

[code]

It doesn't matter whether I have made a query, e.g. `SELECT * FROM foo`.

[2016-11-18 18:03] sosedoff commented on #203
It should be already fixed in #186 and available in master. Try that.
New pgweb version (with fixes) is not released yet.

[2016-11-20 04:30] Lawrence-Baldwin opened #204 "Bookmark URL Misunderstanding?"
Hi,

Should it be possible to connect directly to a database using the bookmark url WITHOUT having to go via the login screen?
If so, what is the format for the full URL? For example, if I connect to pgweb with URL   http://localhost:8081/#postgres://postgres:myPwd@localhost:5432/mydb?sslmode=disable then it takes me to the normal login screen but I'm expecting it just to log straight in to the da

[2016-11-20 15:07] kblomqvist commented on #203
Updated to the latest release. Works fine now.

[2016-11-20 19:04] sosedoff commented on #204
Using latest pgweb (0.9.6) you should be able to connect to the bookmark using `-b` or `--bookmark` flag. The bookmark must be saved under `$HOME/.pgweb/bookmarks` first.

[2016-11-20 19:05] #203 closed

[2016-11-20 20:08] kblomqvist opened #205 "--lock-session doesn't work with a bookmark"
[code]

Works without `--lock-session`.

[2016-11-20 20:14] sosedoff commented on #205
Thanks will take a look

[2016-11-20 21:29] kblomqvist commented on #205
There's also a `--lock-session` related question in #195. Seems like `--lock-session` works with `--url` only.

[2016-11-20 22:57] sosedoff commented on #204
Btw, the url you provided does not work that way. If you have a few bookmarks saved, they'll be available on the login page. There's no other way to use them in the web app, only via the command line option.

[2016-11-20 22:57] #204 closed

[2016-11-20 22:58] sosedoff commented on #205
This is fixed in master. Please give it a try.

[2016-11-20 22:58] #205 closed

[2016-11-21 13:02] kblomqvist commented on #205
I have never compiled before so I tried following (on Debian) and got the build error shown below.

[code]

[2016-11-21 17:12] sosedoff commented on #205
Im not sure why you're getting the error, perhaps older version of go? Anyways, to simplify testing - i attached a binary that you could try.
[pgweb_linux_amd64.zip](https://github.com/sosedoff/pgweb/files/604263/pgweb_linux_amd64.zip)

[2016-11-21 17:12] kblomqvist commented on #205
Thanks! I got it working and the fix is working too.

Here's the instructions if somebody else is struggling with the build. Read the installation instructions from https://golang.org/doc/install. I did the following steps:

[code]

[2016-11-21 22:39] adamjaso opened #207 "Custom Login page / Custom database list feature"
I'm adding a feature to make `pgweb` require login with Cloud Foundry. I'm also adding a feature to provide a list of available databases once the user has logged in. I've forked `pgweb` and started building the features, but I'm not quite finished yet. I understand that my use case is somewhat specific, but I wanted to ask if these features can be generalized into a form that could be admitted in

[2016-11-22 16:55] kblomqvist opened #208 "Startup script to be documented in wiki"
I made a startup script for `pgweb` binary. Feel free to put in wiki, maybe with Nginx reverse-proxy example (#84), which is still missing.

[code]

[2016-11-23 12:39] kblomqvist opened #209 "Current search results (in Rows tab) also shown in SQL Query tab"
If I do search in Rows tab and switch to the SQL Query tab the current results are also shown there. However, I cannot export the results as CSV, JSON or XML. Thus would it make sense to show the current SQL query also in SQL Query tab along with the working export buttons. Otherwise reset the latest search and add export buttons also to Rows tab?

[2016-12-15 19:05] Kiran-N commented on #184
Thank you

[2016-12-16 05:32] sosedoff commented on #209
Thanks for the report, i'll fix that in the next release.

[2016-12-16 05:34] sosedoff commented on #208
Thanks for the extra setup script. The only problem i see with it is with hardcoded path to the binary, usually stuff like that should be declared as a variable at the top.

[2016-12-16 05:37] sosedoff commented on #207
Hi @adamjaso and thanks for the feedback. I've thought about some similar use case but most of those integrations are somewhat non-trivial and dont really belong in pgweb. Maybe in the next major version i will come up with plugin system but for now i dont think any of the custom stuff makes any good use for the regular users.

[2016-12-16 05:37] #207 closed

[2016-12-16 17:32] kblomqvist commented on #208
I was not able to solve how to use variables in sudo's -c command flag. Where's the original startup script?

[2016-12-16 17:36] sosedoff commented on #208
Why would you need sudo to run pgweb? It does not start on port 80

[2016-12-16 17:37] kblomqvist commented on #208
To run pgweb as pgweb user -- not as root.

[2016-12-16 17:41] sosedoff commented on #208
Oh nvm i misread some of the config stuff. I'll take another look at this when i have time.

[2016-12-23 09:46] krainboltgreene opened #210 "Long passwords or passwords with spaces don't work (One of the two)"
Set my password to "agape wichita laden bavaria audacity", tried to log in, and it failed.

[2016-12-23 17:19] sosedoff commented on #210
I just tested auth by setting user/pass via command line options and env variable using your example password and everything works. Could you provide full command that you're using to start pgweb? Also, which version are you on?

[2016-12-23 17:36] krainboltgreene commented on #210
Sure. The setup is via the "Deploy To Heroku" button.

  1. I pressed the button.
  2. I created the instance.
  3. I deleted the hobby addon.
  4. I added a new Standard 0 database.
  5. I restarted.
  6. I changed the AUTH_PASS url to the password.
  7. I restarted.
  8. I tried to login, failed.
  9. I changed to `xxxx`.
  10. I restarted.
  11. I successfully log in.

[2016-12-30 18:53] sosedoff commented on #210
Ah, i see. You're trying to set password with spaces as an environment variable. AFAIK that wont work on Heroku and thats why you're getting auth failures.

[2016-12-30 21:43] krainboltgreene commented on #210
Dang!

On Fri, Dec 30, 2016 at 10:53 AM, Dan Sosedoff <notifications@github.com>
wrote:

--
Kurtis Rainbolt-Greene, Software Developer
Founder of Difference Engineers

2985 San Marino St.
Los Angeles, CA 90006
202-643-2263

[2016-12-30 22:46] sosedoff commented on #210
Closing this since the issue has nothing to do with pgweb.

[2016-12-30 22:46] #210 closed

[2017-01-10 15:23] fduraffourg opened #211 "Bad connection string rewrite on DB change"
The connection string is badly rewritten on DB change when no database was specified for the current connection:

- Connect without specifying a database name
- On the top left, change to another database
- The change fails

It appears that the connection string has a path of `/`. And the function that rewrite it will replace the first slash that follows the scheme. So we got a connection string t

[2017-01-10 15:28] fduraffourg opened #213 "Bad display of db name when it is too long"
When the name of the DB is too long, it doesn't display properly. Same behavior with Firefox and Chromium.

![scrsh hl1](https://cloud.githubusercontent.com/assets/220489/21811914/9732b470-d751-11e6-8921-fe96fedf3aed.png)

(Node: I selected part of the text so that you can more easily see its position)

[2017-01-10 19:46] sosedoff commented on #213
Fixed in master. See example.
![screenshot 2017-01-10 13 45 57](https://cloud.githubusercontent.com/assets/71051/21821989/23f774fc-d73b-11e6-8524-bd8ca3339c3c.png)

[2017-01-10 19:46] #213 closed

[2017-01-10 19:46] sosedoff commented on #211
Fixed in master.

[2017-01-10 19:46] #211 closed

[2017-01-17 21:05] RONNCC opened #215 "Updating values from rows view?"
Is it possible to execute a SQL update query from changing the text and hitting enter or similar?

![image](https://cloud.githubusercontent.com/assets/1313566/22039808/be67d4d0-dcce-11e6-9053-c074e422a490.png)

[2017-01-17 22:14] sosedoff commented on #215
Currently - no. Im still trying to find some time and implement row editing functionality. It should be fairly straightforward as long as you try to edit rows in the "browse" mode. Editing rows in custom query result would be complicated and does not make sense.

[2017-01-19 01:34] iillyyaa commented on #130
I just found (and liked) your UI, and support for ~/.pgpass is the first thing I went to check.

I would strongly prefer to use ~/.pgpass, precisely for the reason original posted requested: don't want passwords in history and in command line. psql client requires that ~/.pgpass be readable only by the file owner, whereas no such check exists for the shell's history file.

I would offer to impleme

[2017-01-19 21:42] zfrenchee opened #216 "deploy pgweb as a container alongside postgres in a docker-compose setup?"
Hello!
This looks terrific. For my use case, I'd love to run this container alongside my postgres container, link them together, and have pgweb available at some port on my URL. Is that an idea that's been had before?

[2017-01-19 21:46] zfrenchee commented on #216
My mistake, I didn't look closely at the wiki!
https://github.com/sosedoff/pgweb/wiki/Docker
This mostly answers my question. I'll try to figure the rest out on my own.

[2017-01-20 00:31] zfrenchee commented on #216
Okay, so I added to my docker-compose file the following:

[code]

I have my functional postgres db in the same file

With the above, I get:
[code]

If I change the environment line to
[code]
I get
[code]
I changed the name just in case since my image is called postgres not db, the way you name it on the wiki https://github.com/sosedoff/pgweb/wiki/Docker

Any ideas?

[2017-01-20 04:43] sosedoff commented on #216
As far as connecting to the postgres (from pgweb) it should just work as long as the postgres server is reachable and credentials are correct (host/port/user/db). From your example its not clear how you start postgres container. Could you provide more details from your compose file?

[2017-01-20 05:09] zfrenchee commented on #216
Hi @sosedoff
Here's the postgres piece of the compose file:
[code]

[2017-01-20 07:05] sosedoff commented on #216
Postgres does not start right away, it takes a few seconds after start to become fully available.
Since pgweb depends on the postgres container, you have to specify that in your compose file:

[code]

Also, default postgres container does not have SSL enabled, so just disable that. New variables:

[code]

[2017-01-20 18:17] zfrenchee commented on #216
@sosedoff that worked! Thanks so much!!

[2017-01-20 18:17] #216 closed

[2017-01-20 19:04] sosedoff commented on #216
What would you like to modify in wiki?

[2017-01-20 19:07] zfrenchee commented on #216
Hi @sosedoff
I would just add the correct docker-compose config from [your last comment](https://github.com/sosedoff/pgweb/issues/216#issuecomment-273992845) to the bottom of that page, just in case there's anyone out there like me who'd like to add this to their docker-compose setup. I personally think that for folks running postgres in a compose setup, plopping in pgweb if they don't already hav

[2017-01-20 19:08] sosedoff commented on #216
Sure, go ahead.

[2017-01-20 19:35] sosedoff commented on #130
Btw, while i havent added the support for pgpass file, you can get away with using bookmarks. By using bookmarks you're not exposing any passwords in the web or cli.

[2017-01-20 22:01] iillyyaa commented on #130
Since I posted my original comment, I have indeed found bookmarks, which do provide this functionality. (.pgpass would have the benefit of working w/o me adding a password to yet another file).

Thank you for your response and for reconsidering this ticket.

[2017-01-23 17:14] zfrenchee commented on #216
@sosedoff would you anticipate pgweb to fail if the db were too large? On a small DB, this works fine, but on my production DB I can't get pgweb to load. The log has no errors in it, the page just won't load...

[2017-01-23 17:28] sosedoff commented on #216
Its hard to just guess, but you can check the request status in the chrome debug tools. Pgweb makes AJAX call for each query so you'll be able to see if anything is being returned at all.

[2017-01-23 17:37] zfrenchee commented on #216
nevermind I'm a moron. =)

[2017-01-23 17:55] sosedoff commented on #216
Care to share a bit more info on the problem? Its always good to know what kind of stuff people do so i can work out a better ux

[2017-01-23 17:57] zfrenchee commented on #216
The port was closed. "Huh, that's funny, it won't load..." =)

[2017-02-01 05:40] monaka opened #220 "Error: dial tcp: no suitable address found"
I got the error `Error: dial tcp: no suitable address found` when I make Pgweb (v0.9.6) booting with `DATABASE_URL`.
After changing its hostname to IP address, it runs with no error.

Referring to some another projects, this error is caused by Go 1.7.0 and it may be fixed by building with Go 1.7.1.
E.g: https://github.com/golang/go/issues/16739

[2017-02-03 21:29] gouri87 opened #221 "pgweb linux installation issue"
#### Description of issue
I have tried to install pgweb on Ubuntu 14.04.5 LTS and I have been unsuccessful so far. I am following the wiki page for – Installation as well as tried Build from source. I have constantly been getting errors. I have linuxbrew installed.
With just the basic installation - I get stuck at the very last step  - brew cask install pgweb - error - Verifying checksum for Cask

[2017-02-04 00:52] sosedoff commented on #221
Hi,

I think all those issues really have nothing to do with pgweb for a few reasons:
- pgweb project has not been tested to work with linuxbrew so i cant really tell if its homebrew issue or something else. osx is supported.
- when installing from source you must set your GOROOT and GOPATH correctly for the build to work.

Alternatively you can always download a prebuilt binary file for your OS:

[2017-02-04 02:24] #221 closed

[2017-02-04 03:17] sosedoff commented on #220
This should be fixed as i've switched master to use go 1.7.5.

[2017-02-04 03:17] #220 closed

[2017-02-08 14:35] smurfpandey commented on #154
@sosedoff I implemented the same feature in mysqlweb using bootstrap-tabs. Every tab contains it's own query window & result window.
If it helps:
https://github.com/smurfpandey/mysqlweb/commit/cdedd5f8f920e2b933c6f915e624f5cecfa5713d
https://github.com/smurfpandey/mysqlweb/commit/ba875b6c487cd64d28ba428636e7c05ef7d67a04

[2017-02-08 18:05] sosedoff commented on #154
Thats cool, although i just don't see an immediate need for the feature at this time. If someone really wants it  they're free to implement it and open a PR.

[2017-02-15 09:09] zoujd-github opened #222 "Error: pq: schema "dbms_rls" does not exist"
[root]# /opt/go/pgweb  --url postgres://test:test@10.88.0.1:5444/ptgbdb?sslmode=disable
Pgweb v0.9.6
Connecting to server...
Checking database objects...
Error: pq: schema "dbms_rls" does not exist

[2017-02-15 09:10] zoujd-github commented on #222
pgweb start error

[2017-02-15 09:52] zoujd-github commented on #222
but this schema "dbms_rls" is exist,wy?
![image](https://cloud.githubusercontent.com/assets/19323469/22968928/71aa1046-f3a7-11e6-849c-89d56da6365f.png)

[2017-02-20 18:09] sosedoff opened #223 "Show number of rows included in custom query results table"
Display number of rows included into the results table. The counter could be added to the panel next to export result buttons.

[2017-02-25 20:10] sosedoff commented on #222
Are you using the same user for pgweb and your other db tool? I might suspect it has something to do with permissions.

[2017-02-25 20:15] sosedoff commented on #208
I added your example init.d config to the repo.

[2017-02-25 20:15] #208 closed

[2017-02-25 20:16] sosedoff commented on #223
Implemented in #224

[2017-02-25 20:16] #223 closed

[2017-02-25 20:43] #209 closed

[2017-02-28 04:43] sosedoff opened #226 "Add a disk-backed custom query log"
Storing SQL query log (user-generated) into a file would be a good solution for history persistence. Something like `$HOME/.pgweb/history.json` is fine, although will probably break when running multiple instances of pgweb on the same machine.

[2017-02-28 04:44] sosedoff commented on #226
Possible alternative: local SQLite3 db.

[2017-02-28 14:55] evanushechkin opened #227 "Manual change timeout query"
Add manual change timeout query.

![image](https://cloud.githubusercontent.com/assets/16900779/23410095/1d1aa92c-fddf-11e6-9442-e9338b00abcc.png)

[2017-02-28 18:17] johicks opened #228 "Specify CA/Client certs for verify-full mode"
I need to connect to a postgresql server that requires client certs and uses a root cert signed by a custom CA.

As an example, in Python, psycopg2 connection string allows me to specify all my certs:
sslcert='/a/secrets/app/ssl_cert/ssl_cert.certificate' sslkey='/a/secrets/app/ssl_cert/ssl_cert.private_key' sslrootcert='/a/secrets/app/ssl_cert/ssl_cert.chain_cert'

Is there a way to do this in pg

[2017-02-28 20:20] sosedoff commented on #228
Hi, while i havent personally tested the SSL cert stuff with pgweb, you might try adding required ssl paths to the postgresql connection string. See [docs](https://www.postgresql.org/docs/9.5/static/runtime-config-connection.html) for more details.

[code]

[2017-02-28 20:21] sosedoff commented on #227
Hi, what kind of sql queries are you running?

[2017-02-28 23:08] johicks commented on #228
Thanks, that makes sense. I'm testing it out, and it looks like it's at least loading the root now, as I am not getting the error: 'x509: failed to load system roots and no roots provided' error.

Here's my string (that I'm throwing into the browser...):
postgres://ab-arm@[redacted]/ab-arm?sslmode=verify-full&sslcert=/a/secrets/app/ssl_cert/ssl_cert.certificate&sslkey=/a/secrets/app/ssl_cert/ssl_c

[2017-03-01 12:02] evanushechkin commented on #227
Hi. yes. I, run a query that is pulling a lot of data, and is taking longer than 300 ms.

[2017-03-01 22:18] mytototo opened #229 "Generate charts"
Hey,

Do you have plans about generating charts from a query's result?
Like Hue for example.

Thanks.

[2017-03-01 22:37] sosedoff commented on #229
Not at the moment, but i thought about adding a very basic charting feature in the past.

[2017-03-01 22:46] mytototo commented on #229
I think it should be great to have this kind of feature even it's really basic. If people want more they always are able to customize it (and make a PR).

[2017-03-08 03:33] sosedoff commented on #228
@johicks any luck with certs? i didnt have any time to look into your issue, sorry.

[2017-03-15 03:40] Falconerd commented on #215
I would also like to see this. As pgweb is a nice looking GUI, I thought it'd be targeting users who may not necessarily know SQL.

If you could update data through the row view, then someone like an office admin could use this pretty easily.

[2017-03-21 03:33] akarki15 commented on #226
Are you thinking persisting every single query in this log? or would there be a customs store query option?

Another question - how would we uniquely identify clients? Say one client saves the query, quits and comes back up. How would we identify that the new client is the same one that stored the query?

[2017-03-23 12:13] Esya opened #230 "Large results crash the browser"
For our use case, we often have to run large queries and export the results to CSV. We would love to do that through pgweb, but currently when running a query that returns +10k rows, the browser slows down heavily, and with +100k rows, the tab just crashes.

This seems to be because there is no pagination on the results, and pgweb just adds those 100k rows to the DOM (or at least tries to) where h

[2017-03-23 16:30] sosedoff commented on #230
You can try hitting the "Export" button before running the actual query.

[2017-03-23 16:48] Esya commented on #230
@sosedoff I did not even think about it, I assumed we had to execute the query first.

My go skills are limited so the solution I implemented is really just truncating the result array before sending it back to the browser, but maybe some sort of pagination, or truncating but telling the user that the results are truncated would be a better option?

[2017-03-23 17:38] sosedoff commented on #230
Yeah, you can type the query and hit export, it will not load anything in the browser. Regarding the pagination you mentioned, its true, theres a need for something like that, but i dont have any solutions since i use psql for big data dumps.

[2017-03-23 19:15] Garbee commented on #230
Most of the results I've seen are paginated by default. Does your query have its own `LIMIT` or something on it?

That number of results is going to cause quite a massive result set. Unless we separate pagination into a front-end piece in certain contexts I don't know of any other way to solve this. The problem with doing pagination in the front-end though, is then you have literal DB pagination t

[2017-03-28 19:25] ppyang opened #231 "Blank Page on IE"
Cannot open the webpage in IE. It only shows a blank page.

Company PC only has IE 11.  Cannot install other browser.

![pgweb-ie](https://cloud.githubusercontent.com/assets/838759/24423287/7276dfe8-13ca-11e7-9a85-7b9bd2c1bdbe.jpg)

[2017-03-28 23:37] sosedoff commented on #231
Damn IE, i'll take a look.

[2017-04-01 14:33] sosedoff commented on #231
Issue:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/of
`for x of array` is not supported in IE11.

[2017-04-12 09:39] VaWa commented on #215
Hello dear Dan.
First off all thank You very much for your great work.
This project is very valuable and useful.
I will also appreciate very much if row editing and adding functionality is implemented and this feature will bring this wonderful project to whole new level of usability for many users.
Thank you very much.

[2017-04-17 17:53] sosedoff commented on #229
Im going to keep the issue open in case i have time to work on it or someone else decides to contribute.

[2017-04-27 12:41] MahatmaFatalError opened #233 "Activity Tab only shows ERROR: pq: column "waiting" does not exist."
On PostgreSQL 9.6.2 on x86_64-pc-mingw64

![image](https://cloud.githubusercontent.com/assets/776825/25483737/644c8798-2b57-11e7-89e9-8427a58dc28f.png)

[2017-04-27 13:29] sosedoff commented on #233
Yeah, its a known issue. `waiting` is not available in `pg_stat_activity`. I haven't had time to fix this.

[2017-04-29 21:05] tamird opened #235 "Support CockroachDB"
It'd be awesome if pgweb could support CRDB! I did some basic testing but things failed pretty quickly.

After fixing #234, I ran into the following problems with the startup query:
[code]

Fixing these is beyond my knowledge of pgweb, but I'd be happy to help from the CRDB side if you're interested in adding support.

Cheers!

[2017-04-30 03:10] ansarizafar opened #236 "Suggestion: Replace Bootstrap with Semantic ui"
[Semantic UI - User Interface is the language of the web](https://semantic-ui.com) is a much better and simple ui framework. Please consider replacing Bootstrap with Sematic UI for better looking UI. If you are interested in making this change then I can also help.

[2017-04-30 04:45] sosedoff commented on #236
How exactly the semantic UI would benefit pgweb at this time? And whats wrong with using bootstrap?

[2017-05-03 16:21] ryantuck commented on #118
any timeline on this? as it stands it's basically the only gripe i have with an otherwise awesome tool.

[2017-05-03 20:55] sosedoff commented on #118
Will work on it this week probably

[2017-05-09 07:56] bjeanes commented on #233
Here's the fix for this in a similar query: https://github.com/demikl/pg_activity/commit/10cfc484b87e3ad018b9d6048954ff85f58ae904

Might be useful for anybody wishing to address this before @sosedoff can...

[2017-05-09 21:49] sosedoff commented on #233
@bjeanes thanks, i'll check it out.

[2017-05-11 03:15] sosedoff commented on #236
No response, closing.

[2017-05-11 03:15] #236 closed

[2017-05-11 03:17] sosedoff commented on #235
@tamird do you have a sample cockroachdb database dump that i can use for testing?

[2017-05-11 03:17] sosedoff commented on #233
Should be fixed in master now.

[2017-05-11 03:17] #233 closed

[2017-05-11 03:22] sosedoff commented on #230
Quick update on this issue:

- I've been working on getting https://clusterize.js.org/ integrated into pgweb. It offers a way better experiment on any large datasets.
- Limiting the result dataset will likely result in faster page loads. We could add a limit to any custom query passed by a user, and maybe add more results to the table dynamically. Still experimenting.

[2017-05-11 03:42] sosedoff commented on #222
@zoujd-github ping, care to provide more details? otherwise i will close this issue since i don't have any way to reproduce the problem.

[2017-05-11 13:51] tamird commented on #235
@sosedoff you can easily test against just an empty CockroachDB database for now (even that doesn't work). We have a library that makes it easy to programmatically run a CockroachDB process: https://godoc.org/github.com/cockroachdb/cockroach-go/testserver

[2017-05-11 16:27] sosedoff opened #239 "Remember sort order on the table when paginating"
Sort order on the table browse page gets reset on pagination. It should remember the column and the sort order selected by user.

[2017-05-15 15:21] awildeep commented on #215
@sosedoff I think I am missing something.  When:

-  I use the sidebar navigation and drill into a table (No custom query, no views)
- Then I double click a row that has a value
- I see a textarea box which allows me to change the value
- However I see no way to save my change and issue the update

I am assuming this is what you mean by "Currently - no. Im still trying to find some time and implem

[2017-05-15 15:33] sosedoff commented on #215
Thats correct, row editing is not supported in any form in pgweb at the moment. Textbox is meant to easily copy cell's data.

[2017-05-17 03:52] #239 closed

[2017-05-17 20:56] sosedoff opened #241 "Add support for encrypted SSH key"
Getting error: `ssh: cannot decode encrypted private keys`

[2017-05-19 06:37] tistvan opened #242 "DB dump support"
Hello,

Ability to create SQL dumps from databases would be very useful. I was using phppgadmin before and this is the only feature I am missing from pgweb.

Thanks,
István

[2017-05-23 03:38] sosedoff commented on #242
I don't think pgweb is a good tool to do database dumps with, `pg_dump` has been around for years and has all the options you need, although i can probably agree with you that having a very basic "db clone" feature could be useful. Under the hood it would still use `pg_dump` though, and might as well work on windows too.

[2017-05-23 09:41] tistvan commented on #242
Yes, you are right. The reason behind this ticket is I would like to create sql dumps from Postgresql databases with a web UI and without ssh access. :)

[2017-05-31 18:58] janpieper opened #243 "Tests for my fork (without any changes!) not working"
I've added a small feature to pgweb and i would like to run all tests before creating a pull request, but I can't get the tests running. Even without any changes to the tests are failing... Would be cool if someone could help.

## Official sources

[code]

## My fork

[code]

## Go Env

[code]

[2017-06-06 02:09] sosedoff commented on #243
@janpieper Seems like there was some change related to the `x-font-woff` mime type in go 1.8.3 (i believe). I was using go 1.8.1 until today and tests were all passing. I pushed a change to master that fixes the problem.

[2017-06-06 02:09] #243 closed

[2017-06-06 03:46] #231 closed

[2017-06-06 03:46] sosedoff commented on #222
Closing due to no response.

[2017-06-06 03:46] #222 closed

[2017-06-08 09:28] janpieper commented on #243
@sosedoff No, this isn't the problem. I'm not complaining about a failing test. The whole testsuite is crashing (Error 2) without any changes to the code. The `x-font-woff` test was failing in both cases.

### Official sources

[code]

### My fork

[code]

[2017-06-26 17:43] tzachshabtay opened #248 "Integrate with an existing website"
Hi, I'm trying to integrate pgweb with an existing website (hosted on aws beanstalk with nodejs, within a load balanced environment). I want to have a button on the website which opens up the "database explorer", bypassing the pgweb login page as I already have those credentials in the nodejs server hosting the website (and in fact, the user might not even know the credentials to the database, onl

[2017-07-06 02:49] sosedoff commented on #248
Hey, sorry for the late response.

I can definitely see your use case, although it will require a bit of work to implement the
functionality in question.

Few thoughts here:

1. Passing a database connection string in the url would be the easiest solution. That way we can have a connection token on the client (browser) that will correspond to a server connection. There's already something like tha

[2017-07-06 02:54] sosedoff commented on #235
@tamird i'd happy to support cockroachdb, but i personally don't use it and don't think i can find any spare time to really dig in and implement a such a bridge. Pgweb does not have any active contributors so its kind of hard to say when non-postres stores could be supported.

[2017-07-06 02:54] #235 closed

[2017-07-06 02:58] sosedoff commented on #148
@akarki15 if you'd like to fix this - go ahead. otherwise let me know if i can close the issue, it hasn't been a problem for me afaik.

[2017-07-06 03:00] sosedoff commented on #227
Hi again,

I'm closing this due to no activity and also due to the fact that pgweb was never meant to run any "heavy" queries. If you feel like fixing the problem, or making the option to customize the default query timeout via CLI option - go ahead and submit a PR. I just don't have any time to work on this.

Thanks.

[2017-07-06 03:00] #227 closed

[2017-07-06 03:02] sosedoff commented on #228
Would love to get more feedback. Closing due to no activity.

[2017-07-06 03:02] #228 closed

[2017-07-06 03:08] akarki15 commented on #148
You can close this one

[2017-07-06 03:09] #148 closed

[2017-07-07 10:55] maksm90 opened #249 "Support the ouput of query result in pretty json format"
Hi!

Thanks for the development of great web client to postgres. But my colleagues and I would like to see the feature of printing query result in the result window in formats other than tabular (e.g. structured indented json).

How is this possible? Can I join the project to implement this feature?

[2017-07-07 11:08] maksm90 opened #250 "List of functions in the left control panel alongside Tables, Views, etc"
Hi!

Now it's impossible to see the list of functions (stored procedures) belonging to the scheme. In perspective I would like not only to see the body of function but to store its updated version (CREATE OR REPLACE FUNCTION query)

[2017-07-07 14:28] sosedoff commented on #249
There's already a JSON export button available on the custom query page. Is that what you're looking for?

[2017-07-07 14:30] sosedoff commented on #250
List of functions could be added, but i'm not sure about function editor. You can always use custom sql query tab for that. Pgweb does not really have any way to modify any database stuff (except for the query tab) at the moment.

[2017-07-07 14:59] maksm90 commented on #249
Do you mean the button that downloads a query result?
I propose the feature of printing result on window in specified format so that it can be copy-pasted to somewhere. Moreover, this format should be pretty to look at.

[2017-07-07 15:01] Garbee commented on #249
I think a "Copy as JSON" button is quite doable for modern browsers. But, a JSON *view* I feel is not incredibly useful to most users.

[2017-07-07 15:13] maksm90 commented on #250
Yes, sql query tab is intended for editing any queries including function body. But it would be nice to see the list of functions on left panel and have some tabs describing properties of selected function.

[2017-07-08 16:54] dersteppenwolf commented on #102
It would be great some kind of integration with postgis like "PostGIS Preview" http://chriswhong.com/data-visualization/introducing-postgis-preview/

[2017-07-11 10:13] IIInsomnia opened #251 "如何编译html等前端文件"

[2017-07-11 16:55] sosedoff commented on #251
Please submit issues in english. Even with the translation i don't understand your question.

[2017-07-11 16:55] #251 closed

[2017-07-12 01:34] IIInsomnia opened #252 "How to compile HTML and other static files"

[2017-07-12 03:51] llitfkitfk commented on #251
@IIInsomnia
pgweb 使用 go-bindata 编译前端文件
你可以学习一下 https://github.com/jteeuwen/go-bindata

[2017-07-12 03:52] llitfkitfk commented on #252
https://github.com/jteeuwen/go-bindata

[2017-07-12 03:56] sosedoff commented on #252
In regards to this project, there are two make tasks available to compile assets:

- `make dev` (will build assets that are auto-loaded from the dist on every page serve)
- `make assets` (will build assets that are served from the app itself and not from the disk).

Check `Makefile` for more details.
And yes, as previously mentioned, assets are built with go-bindata package.

[2017-07-27 07:00] cheungpat commented on #215
Hi @sosedoff, I need this for some of my projects. Can I work on this? I intend to extend the API to support insert/update/delete and update the UI to support modifying data.

[2017-08-02 14:48] #252 closed

[2017-08-02 21:07] sosedoff opened #253 "Allow searching for a database via autocomplete textbox"
Currently there's no way to find a specific database when you click on the database switcher in the sidebar. If you have a lot of local databases the list becomes pretty long and unusable.

New feature: when i click on the database name it should open up a modal with the text input. Then i can type a partial name and see autocomplete results. This is similar to OSX finder feature / alfred app.

[2017-08-11 01:25] sosedoff commented on #168
Coming back to this. So im thinking of having a map (per established connection) that will hold information about tables that are somewhat large (> 100k rows). For table browse requests we will first check if that map contains the table and if it does we will fetch the rows stats using count estimates. On database switch that map will be cleared out.

Any thoughts?

[2017-08-13 08:38] maximRNBack commented on #248
@sosedoff
Hi,

I'm working on embedding pgweb in our system.
We have a SSO system for authentication and authorization.
To make the integration seamless ("bypassing the pgweb login page") I'm adding a REST route that takes an `id`. The handler goes through authorization process with the authorization server, gets the connection credentials (using the `id`) from another service, and finally invokes

[2017-08-13 08:53] maximRNBack commented on #248
#207
I see i'm not the first one to come up with this suggestion.

[2017-08-14 10:27] felixbuenemann commented on #168
The DZone article [Faster PostgreSQL Counting](https://dzone.com/articles/faster-postgresql-counting) has some useful tips on getting good estimate counts on large tables.

Instead of keeping a map of large tables in memory you could just look at the table stats in postgres on the fly, I don't think caching that info is worth the trouble.

[2017-08-14 18:31] wshi94 commented on #248
Hi,

We've been attempting to integrate pgweb into our system and attempted some of the suggestions given by @sosedoff, however our use case is such that we'd like to hide connection credentials from the user and and be able to have any number of sessions. The sessions flag works well, but we'd need a way of passing credentials for each session as well.

The changes @maximRNBack is proposing seems

[2017-08-15 05:47] maximRNBack commented on #248
@wshi94 @tzachshabtay How do you guys authenticate your users?
We use Keycloak. I'm currently working on a gin middleware for (OIDC Authorization Code Flow)[http://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth] using the (go-oidc package)[https://github.com/coreos/go-oidc].
It should work with any OIDC compliant authorization provider. Would this work for you?

------

My solution ass

[2017-08-22 14:36] tzachshabtay commented on #248
@maximRNBack we use google for our authentication, so if I understand correctly it should work fine with OIDC.

[2017-08-22 15:47] maximRNBack commented on #248
@tzachshabtay  I have something working but the code is a mess. Would you like me to clean it up a bit and upload it? :)

[2017-08-22 16:04] tzachshabtay commented on #248
@maximRNBack yes, that would be sweet, thanks.

[2017-08-29 07:06] Vonatzki commented on #188
Label-able SQL query tabs would be rad, too :)

(I'm coming from [Postage](https://github.com/workflowproducts/postage/), which is almost a viable pgadmin substitute but then the developers decided to lessen their support due to failure to monetize the project. It's worth checking out and see if some of its features can be incorporated in pgweb.)

[2017-08-30 01:26] Vonatzki opened #257 "Not all schemas are showing"
I'm wondering what pgweb does/checks in order for it to show user-defined schemas on the left pane.

Because right now, only the 'public' schema is showing in one of my databases when in fact I have four defined schemas in there with labels as follows:

- agg_daily
- agg_monthly
- main_daily
- main_monthly

Do note that these schemas only contain Views as of the moment.

[2017-08-30 03:18] sosedoff commented on #257
@Vonatzki which pgweb version are you using? Also could you provide the output (redacted if needed) of `http://localhost:8081/api/objects` ?

[2017-08-30 05:26] Vonatzki commented on #257
I'm not quite sure if I followed your instructions to a tee.

Going to that link churns out `{"error":"Session ID is required"}`.

I have two databases in my postgresql right now. The other one has its schemas showing up on pgweb just fine.

[2017-08-30 06:00] sosedoff commented on #257
You need to start pgweb is a single session mode, connect to you db and visit the link i provided earlier.

[2017-08-30 07:17] Vonatzki commented on #257
Logging in to the problematic DB and accessing the link, it churns out an empty JSON `{}`.

Logging in to my other DB and using the link, it churned out JSON containing schemas and the database objects therein.

Again, the main difference of the two DBs is that the problematic one doesn't have any Table objects in its schemas, only Views.

[2017-08-30 07:28] Vonatzki commented on #188
Another feature that would be nice is convenient copy pasting of selected portions of any tables being displayed in the app.

As of 0.9.8, highlighting desired portion of a table is tricky and often require highlighting the whole table instead.

[2017-08-30 07:32] Vonatzki commented on #253
This is a very nice feature to have :)

[2017-08-30 16:39] sosedoff commented on #257
Ok i will have to reproduce this issue locally.

[2017-08-30 21:45] Vonatzki commented on #257
Thanks! The app looks promising and I like it that it's only an executable with no dependencies (Is this the Go magic people are raving about?)

I'd help you on the technicals but I don't know Go. I'll certainly learn more about in the future :)

[2017-09-03 19:09] sosedoff opened #258 "Add ability to format SQL queries in the editor"
Would be cool to have a button to format SQL queries that are pasted from
other sources, like Rails's log file.

[2017-09-03 19:13] sosedoff opened #259 "Record timestamp of last connection usage"
In single/multi sessions mode add a timestamp to track last query/commands. This enhancement will be needed for future work on automatic disconnects due to no activity.

[2017-09-03 19:17] sosedoff commented on #258
https://github.com/jackc/sqlfmt would be a good candidate for this

[2017-09-04 19:31] beedawg1985 opened #260 "Browse through to record referenced by foreign key [new-feature]"
This is a nice feature of _DB Browser_ for SQLite databases. You can cmd / ctrl + click on a referenced foreign key and you are taken to that record in the referenced table. See: https://github.com/sqlitebrowser/sqlitebrowser/issues/192

[2017-09-05 06:36] qiangmzsx opened #261 "pq: unknown function: has_schema_privilege()"
ENV:
Linux cp01-mms-feed-ting 3.10.0_1-0-0-8 #1 SMP Thu Mar 24 15:26:50 CST 2016 x86_64 x86_64 x86_64 GNU/Linux

Pgweb v0.9.8 (git: 5e748d0cefd7063802c6433a1cfcfe467b986352)
Connecting to server...
Checking database objects...
Error: pq: unknown function: has_schema_privilege()

[2017-09-05 15:24] sosedoff commented on #261
Which postgresql version are you running ?

[2017-09-06 02:14] sosedoff opened #262 "Print postgres version when starting server in single session mode"

[2017-09-08 19:52] tzachshabtay commented on #248
@maximRNBack any updates?
Thanks.

[2017-09-08 21:29] andreibancioiu commented on #131
Currently, the solution proposed by @skabbes works for me, but the solution using `--prefix=...` does not (I receive a 404 error from the Go application - not from nginx).

This is problematic:

[code]

nginx config:
[code]

Anyway, running without the `prefix` argument, but with the trailing slash in the `location` section seems fine:
[code]

[2017-09-08 21:35] andreibancioiu commented on #208
Here are some steps to run pgweb using **systemd** (I guess this only works on Ubuntu though):

[code]

[code]

Reference on how to [create a systemd Unit File](https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-16-04#create-a-systemd-unit-file).

[2017-09-08 21:58] sosedoff commented on #208
@andreibancioiu there's a systemd service file at https://github.com/sosedoff/pgweb/blob/master/examples/pgweb.service as well.

[2017-09-08 22:01] sosedoff commented on #131
@andreibancioiu when i start pgweb with `--prefix=pgweb/` i can access the url with that prefix just fine. did you verify that by accessing `http://localhost:9090/pgweb`? if it does not work you will get 404 page.

[2017-09-14 04:16] sosedoff opened #263 "Add wiki entry for running behind nginx"

[2017-09-14 04:52] sosedoff commented on #261
Im closing this issue due to no debug information. I'd need extra info on db/permissions to troubleshoot this issue.

[2017-09-14 04:52] #261 closed

[2017-09-14 05:00] sosedoff commented on #262
Implemented in master

[2017-09-14 05:00] #262 closed

[2017-09-14 05:03] sosedoff commented on #257
@Vonatzki if its possible for you to send me the test dataset (raw sql dump) i'd fix it faster. My email is in my profile.

[2017-09-14 05:12] sosedoff commented on #257
On the other hand, if you dont see the schema on the sidebar, there's a chance that it does not have any objects (tables/views/etc). I created an example schema with a single table in it and i could verify it shows up on the sidebar: https://www.dropbox.com/s/dl0jt9gghpx1g5h/Screenshot%202017-09-14%2000.10.15.png?dl=0
Same goes for the views / etc. See my previous comment: i will need a sample sql

[2017-09-14 05:20] sosedoff commented on #260
I personally don't have a specific need for this feature as i've always written a custom query to get the exact records i need, but if you have a strong use for this - feel free to submit some code that i can use to implement this. Does not have to be perfect, but if it works that's a good start.

[2017-09-14 05:25] sosedoff commented on #249
Im closing this issue since there's a very little need for this specific use case. I've just added a new feature to allow downloading query results as a formatted JSON file (see master), that should be enough to get by. If that does not suit your needs, feel free to submit a patch, i'd be happy to review and merge.

[2017-09-14 05:25] #249 closed

[2017-09-14 05:30] sosedoff commented on #248
@maximRNBack If you have any meaningful code for us to review/test, please share it somewhere (Github PR/etc). I have a spec that i would like to move forward with but i'm not sure if there was any developments on this front. Let me know.

[2017-09-14 09:55] Garbee commented on #263
My [old config post](https://github.com/sosedoff/pgweb/issues/84#issuecomment-96741961) is still working for me. But as comments later brought up do remember to add a note about using basic authentication to protect the system. Since once you log in anyone can hit the URL and get DB access unless you have auth in place.

[2017-09-16 00:34] sosedoff opened #267 "Add ability to query unique values per column from the table header"
Many times i find myself writing a `select distinct blah from table` query to get all unique values for specific column in the table. A better approach is to create a context menu in the table header with an option to "Show unique values".

[2017-09-16 18:59] sosedoff commented on #267
Implemented in #268

[2017-09-16 19:09] sosedoff commented on #248
@tzachshabtay @maximRNBack i implemented the authentication feature via http backend here #266, have a look. Let me know if you have any questions.

[2017-09-16 19:12] sosedoff opened #269 "Add integration tests"
SUBJ. Pgweb needs at least a base line integration test suite to verify that all the frontend code works.

[2017-09-16 21:23] sosedoff commented on #242
@tistvan btw, this is doable, i was playing around with this feature today. however it will only work 100% if you have pg_dump installed on your system. So in other words, there's no way to package pg_dump with pgweb.

[2017-09-16 21:26] sosedoff commented on #258
Does not seem to be feasible at the moment. There's no good go package that could format sql queries without any issues.

[2017-09-16 21:26] #258 closed

[2017-09-16 21:27] sosedoff commented on #259
Implemented.

[2017-09-16 21:27] #259 closed

[2017-09-17 01:38] #267 closed

[2017-09-17 01:38] sosedoff commented on #242
Work is done here #270

[2017-09-17 03:07] sosedoff commented on #269
@varp this is something you can work on if you'd like :) there are a few options on the table right now:

- golang native https://github.com/sclevine/agouti <- def worth looking into
- karma/phanomjs/mocha

The complexity of the app has been increasing steadily over the time without any backing of the actual integration tests. I've been testing all the features directly in the browser, which is no

[2017-09-17 03:10] sosedoff commented on #263
@Garbee yeah i get that, but i'd rather have an official manual on hand for all the newcomers to follow. Since i don't use pgweb behind nginx i'll just go over all the manual steps myself, but if you have any configuration samples (excluding already mentioned post) you're welcome to reference them here or send to my email directly. As for the basic app, pgweb has the auth feature, so i'm not sure

[2017-09-17 03:11] sosedoff commented on #260
@varp another feature you could work on.

[2017-09-17 14:53] #242 closed

[2017-09-17 14:58] tistvan commented on #242
I never said I needed pg_dump inside pgweb package :) . I just said it would be nice to create SQL dumps using pgweb. It doesn't matter if it is done using pg_dump or not. I just want to create SQL dumps from a web UI. :)
Anyway I am closing this issue because it is done in #270 .

[2017-09-17 15:07] tistvan commented on #242
And thanks for this feature :)

[2017-09-17 16:01] Garbee commented on #263
I don't use the built in auth since that means I need to pull in a user/pass to yet another place on the system. Using nginx's basic auth I can reference my existing accounts in the `.htpasswd` file for nginx which I use with other protected services as well.

If pgweb could pull in the existing file to authorize access then I'd be all for it. But as I see the options now in the help explanation i

[2017-09-19 12:13] maximRNBack commented on #248
Hi guys,
Sorry for the late response. It took me longer then I thought.

If you want to see the final result check out [rnback's staging subdomain](https://devdashboard.rnback.com/). Soon we'll move it to [rnback's production subdomain](https://dashboard.rnback.com/).

[The source diff can be found here (github.com/maximRNBack/pgweb/)](https://github.com/maximRNBack/pgweb/commit/8627baa75267969d9f

[2017-09-19 16:01] sosedoff commented on #248
@maximRNBack Interesting. Have you looked at https://github.com/bitly/oauth2_proxy? I've used that proxy to setup oauth stuff in front of pgweb instead of rolling my own.

[2017-09-19 17:36] maximRNBack commented on #248
At a glance this would solve half of the problem for me. The authentication of users (i.e. is this my user?) would be solved, but the authorization (i.e. should the user be able to access the requested database?) and the secure database credentials request (I need to be sure it's pgweb requesting the credentials) are still missing.

Thanks for the quick reply. I'll look into it and get back to you

[2017-09-20 15:00] maximRNBack commented on #248
I got [oauth2_proxy](https://github.com/bitly/oauth2_proxy) to work. But like I said, it only takes care of the authentication aspect.

I propose adding two optional features/flags on top of your #266 proposal. [You can see the changes here](https://github.com/sosedoff/pgweb/compare/connect-backend...maximRNBack:token-connect-backend).

* `--connect-token-conf` - path to a configurations file for

[2017-09-20 21:10] tzachshabtay commented on #248
Wow, thank you guys for your hard work!

@sosedoff saw you wrote in the PR ("sourced from a third-party backend (http)."), will it also work for https backend?

I'm currently on a long vacation, so won't have time to look at the two solutions offered at least until mid October. Perhaps @wshi94 will have time to examine them.

[2017-09-21 03:57] sosedoff commented on #248
@maximRNBack will look into your stuff.

@tzachshabtay yes, any http(s) endpoint will work.

[2017-09-21 06:56] sosedoff commented on #248
@maximRNBack reviewed your stuff, and here's my thoughts:

- i would rather prefer to keep out all the authentication (oauth/etc) functionality out of pgweb, all that stuff is really out of scope of this project. mainly to keep it as simple as possible.

- we can make pgweb work really nice with oauth2-proxy project since it has all the necessary bits and pieces in order to make the auth really wo

[2017-09-21 08:07] Vonatzki commented on #257
Apologies for not making a prompt response on this issue.

Copy, will make an anonymized SQL dump of the problematic DB. I really think it has something to do with schemas exclusively containing foreign-wrapped Views only.

[2017-09-21 10:44] maximRNBack commented on #248
@sosedoff Looks great. I can work with that.
Thanks!

------

One other note. It might be off-topic. I can open another issue if you'd like. It's regarding pgweb's `"x-session-id"` http header.

Lets say `user A` and `user B` both sign in and access their DBs. If `user B` somehow gets a hold on `user A`'s `sessionId` he can go to `http:/mypgweb.domain/?session=<user A's session id>` and access a D

[2017-09-21 17:04] sosedoff commented on #248
Right, the session token wasn't exposed before. Feel free to open the ticket for that, although im not going to get on it right away.

[2017-09-22 02:05] sosedoff commented on #248
I've merged the #266 and will continue to improve the security side of things moving forward.
Wrote a new wiki entry for the reference: https://github.com/sosedoff/pgweb/wiki/Connect-Backend.
I'll leave the issue open for the time being in case if someone has any questions. 🤘🏽

[2017-09-22 02:27] skyformat99 opened #273 "Can support CockroachDB?"
Great project, :+1:
But I tried to use it, I connected CockroachDB, but I couldn't connected .
Can support CockroachDB?    https://www.cockroachlabs.com/
thanks.

[2017-09-22 02:37] sosedoff commented on #273
Thank you. There was another issue #235 related to the CockroachDB, but
just to reiterate on it - no pgweb does not support CockroachDB at this time
since it has a bunch of pg-specific queries under the hook. It is possible to make
it work, but that would require a serious effort. I dont use CockroachDB myself so
i cant really say if the support will be available in the future.

[2017-09-22 02:45] sosedoff opened #274 "Terminate old sessions"
When running pgweb in multi-session mode, there's no way to remove any old sessions. They will stick around for a long time until the server restarts. We should remove any sessions that have no activity within last 24 hours. There's already a timestamp implemented on the client struct that records the last usage time.

[2017-09-23 02:41] #273 closed

[2017-09-23 03:47] sosedoff opened #276 "Setup a connection manager"
Currently all session management happens in the api module and does not have any locking around creating/removing sessions, which will cause panics. Lets setup a connection manager that will handle all the session creation/deletion moving forward.

[2017-09-23 04:01] sosedoff commented on #274
Implemented in master

[2017-09-23 04:01] #274 closed

[2017-09-27 04:37] sosedoff opened #278 "Add ability to disable connections via SSH"
In some cases database connections via SSH introduce a security risk due to private key being "shared" by all pgweb clients, meaning pgweb daemon does not manage access to any local ssh keys that might be used across different connections. This should be a CLI option, like `--disable-ssh`.

[2017-09-27 06:20] sosedoff opened #280 "Isolate custom query contents between sessions"
When running pgweb in multi-session mode, the custom query contents leaks between sessions due to usage of localstorage instead of sessionstorage. Each session must have its own query storage just like it has backend-powered query history.

[2017-09-28 04:53] sosedoff commented on #278
Implemented

[2017-09-28 04:53] #278 closed

[2017-09-28 23:20] sosedoff opened #281 "Add ability to import data from CSV file"
There should be some way to import data from CSV files. It would create a new table and insert all the records from a single file.

[2017-09-29 05:09] sosedoff opened #282 "Make idle connection timeout configurable"
Currently we have the inactive timeout value hardcoded in the code, see: https://github.com/sosedoff/pgweb/blob/b6167ce422ee26113222503df60932adc2736ba2/pkg/client/client.go#L369
This should be configurable using 2 new cli options:

- `--disable-connection-idle-timeout` - Turn off the feature
- `--idle-timeout` - Set the timeout value

[2017-09-29 05:22] BharatKalluri commented on #282
Can I take this?

[2017-09-29 05:33] sosedoff commented on #282
Go for it!

[2017-09-29 06:19] icalF commented on #281
I'm interested to help with this. Then, how could we determine type of the column?

[2017-09-29 15:19] EyesBear commented on #253
I am interested in working on this. :)

[2017-09-29 15:37] sosedoff commented on #281
I dont think we need to determine the type, just insert everything as a varchar/text.

[2017-09-29 15:40] wow-sweetlie opened #283 "Rows view with jsonb field is slow"
I'm not sur if it's json or just jsonb, but I have table with jsonb field that can represent up to 1MB of json (in his text form). The rendering of row view takes from few seconds to few minutes, the most larger the field is the more slow is the rendering.

[2017-09-29 18:36] EyesBear opened #284 "Issue with building assets"
After I ran `make setup`, I tried to make a few small changes in `app.js` and `index.html` under `static/` and built them with `make dev`. However the changes won't show when I ran `./pgweb`. Did I missed any steps?

[2017-09-29 18:58] sosedoff commented on #284
Hm, that should be the only step needed for the local dev. Did you try flushing your browser cache?
Also, how did you setup the project?

[2017-09-29 19:14] EyesBear commented on #284
I tried to ran it on Safari instead of Chrome and still can't see any changes.
I cloned the repo under `$GOPATH/src/`, and `git diff` shows that `pkg/data/bindata.go` is modified.

[2017-09-29 19:19] sosedoff commented on #284
Ah you probably cloned it under your own namespace in $GOPATH/src, you'll need to clone it as `$GOPATH/src/github.com/sosedoff/pgweb` so that all package references could stay the same.

[2017-09-29 19:21] sosedoff commented on #283
How many rows are we talking about?

[2017-09-30 14:59] wow-sweetlie commented on #283
I didn't see if we can set the pagintion to a lower number, than the default, so it's actually 100 row displayed for a total of 15000 row on my dev database, about 15 million on production if it matter, but didn't try  to render it in pgweb installed on my production server.

[2017-10-01 10:14] icalF commented on #281
Nice. Will work on it ASAP

[2017-10-02 05:32] EyesBear commented on #284
Thanks!

[2017-10-02 05:32] #284 closed

[2017-10-02 14:33] EyesBear commented on #253
For autocomplete, is there a preference on whether to utilize a third party library or not?

[2017-10-02 14:59] sosedoff commented on #253
Third-party lib is fine as long as it does not pull the whole jQuery-UI stuff in.

[2017-10-02 15:04] sosedoff commented on #283
Im almost 100% sure the slowness is due to the DOM-building. 1MB per row is a lot of data to be displayed in html. When you click on the table on the sidebar, you'll see a new API query in the pgweb's log:

[code]

That will give you a rough idea on how long did it actually take to process the request. If you see the request duration is very large - let me know so we can troubleshoot this.

[2017-10-02 15:49] sosedoff opened #285 "Add SQL keyword autocompletion"
This is another feature that i wanted to add for years but never had time for. Basically, when you type any SQL statements or functions the UI should be able to find a suggestion, like `SELECT`, `FROM`, `ORDER` etc. Ace editor seems to support that.

[2017-10-03 09:02] varp opened #286 "Table structure editing feature"
The ability to edit table definition/structure. There must be predefined combo box for Postgres data types.

[2017-10-03 09:06] varp opened #287 "Option for setting custom query timeout"
The default query running timeout is 5 minutes. The option must be useful when you manipulating large amounts of data

[2017-10-03 09:14] varp opened #288 "Sort rows in a table by clicking on a column header ( set cursor: pointer )"

[2017-10-03 09:15] varp opened #289 "Add splitter between sql results and editor pane"

[2017-10-03 09:26] varp opened #290 "Show functions and procedures in DB"

[2017-10-03 09:27] varp opened #291 "Cancel currently running query in SQL editor pane"

[2017-10-03 09:31] varp opened #292 "Save connection options, encrypted, on the disk"
Need encrypted version of toml server configs (bookmark) for saving passwords to servers. A user must supply master password for encrypting and decrypting.

[2017-10-03 09:32] varp opened #293 "Add export in SQL"
It must be useful for moving the part of data of tables to the different DB engines

[2017-10-03 09:36] varp opened #294 "CSV export options"
There must be options for setting quoting char and delimiter char

[2017-10-03 15:25] sosedoff commented on #293
Raw SQL export (whole db/single table) is already implemented and available in 0.9.9

[2017-10-03 15:35] sosedoff opened #295 "Disable `-b` (`--bookmark`) startup option when running in multi-session mode"
Bookmark option should be disabled (or ignored) when starting pgweb in multi-session mode. This causes panic:

[code]

[2017-10-03 15:45] cristianoliveira commented on #295
I'll take it

[2017-10-04 07:23] varp commented on #293
But not on the SQL results. I have tables with more than dozen millions of rows and sometimes I need a couple of rows from production Postgres DB to a developer MySQL table and the simplest way to do it is just to copy/paste and execute SQL

[2017-10-05 19:44] sosedoff commented on #295
@cristianoliveira any progress? regarding the panic, its actually not related to bookmarks, there was a bug with nil ssh info on the bookmark struct which i already fixed in master.

[2017-10-05 22:06] sosedoff commented on #288
I believe this is already done in #268

[2017-10-05 22:06] #288 closed

[2017-10-05 22:07] sosedoff commented on #289
If you're talking about making the sql editor view resizable, there's already an old ticket: #118

[2017-10-06 06:09] varp commented on #288
Sorry, but in #268 announcements there nothing about rows sorting

[2017-10-06 06:13] varp commented on #289
Then I'm closing the issue

[2017-10-06 06:13] #289 closed

[2017-10-06 20:31] wow-sweetlie commented on #283
I can't test for a long moment, you can probably close the issue meantime  I'll come back when I'll have information to report back to you.

[2017-10-06 22:50] sosedoff commented on #288
Row sorting was implemented a while ago. I was referring to the "cursor: pointer" change made in the linked PR.

[2017-10-07 15:52] cristianoliveira commented on #295
Hey @sosedoff Sorry. I couldn't take a look into it already. Do you think some change regarding this  `pgweb/pkg/cli/cli.go` is still necessary? If so I can take a look later or other day

[2017-10-07 16:15] sosedoff commented on #295
@cristianoliveira i fixed this in #300

[2017-10-07 16:17] cristianoliveira commented on #295
Ahh great! :)

[2017-10-08 18:46] BharatKalluri commented on #282
I am sorry, but I am not able to figure out how I should fix this. Any help?

[2017-10-09 01:18] sosedoff commented on #282
If you still want to implement this feature, here's a few things to do:

- add cli option `--idle-timeout` (int) to specify maximum connection idle time in minutes, default to 3 hours (180 mins)
- add option `--disable-connection-idle-timeout` (bool) to disable the timeout feature altogether
- adjust the logic in the session cleanup worker here: https://github.com/sosedoff/pgweb/blob/master/pkg/ap

[2017-10-09 01:19] sosedoff commented on #295
Im closing this since the fix has been merged to master

[2017-10-09 01:19] #295 closed

[2017-10-09 01:23] sosedoff commented on #293
How would this feature work on the subset of table data? My guess is that you can always write a custom sql query and export the resulting data as csv, then import that file using postgres csv import feature.

I don't think this feature request worth implementing (from my point of view) since it's based on a very specific use case.  If you'd like to make it happen - send some code ;)

[2017-10-09 05:56] varp commented on #288
Ohh, I understood

[2017-10-09 12:23] cristianoliveira commented on #285
Hey @sosedoff I will try to do it! I've been using the pgweb and I think it would might be easy :)

[2017-10-10 14:59] th3hamm0r commented on #287
+1

[2017-10-13 04:37] sosedoff opened #301 "Add ability to copy table name from the sidebar"
It would be nice to be able to copy the (selected) table name from the sidebar. We currently have ability to copy table column names, you right click on the column and select "Copy column name". Same functionality should also work for table names.

[2017-10-13 16:58] ldinc commented on #301
Hi, shoud it be copied to clipboard from "data-id" value or value from <i>...</i>?

[2017-10-13 17:03] sosedoff commented on #301
Yeah, copied from `data-id`, but without the namespace `public.mytable` -> `mytable`

[2017-10-14 00:00] ldinc commented on #282
Is fixing client.IsIdle() func up to using with 2 new clli flags enough?
Or i missunderstood session cleanup worker?

[2017-10-14 00:08] sosedoff commented on #282
Yeah, 2 new flags should control how the cleanup worker terminates idle connection. If we have `--disable-connection-idle-timeout` set to false we should just turn off the worker here https://github.com/sosedoff/pgweb/blob/master/pkg/cli/cli.go#L201

[2017-10-14 00:09] ldinc commented on #282
https://github.com/ldinc/pgweb/commit/3067b06bf6e8b7f0efd6849983bd4205ddb48915
Or better change timeout minutes from float64 to int?

[2017-10-15 20:05] sosedoff commented on #301
Ok, this is available in master now, closing.

[2017-10-15 20:05] #301 closed

[2017-10-15 20:06] sosedoff commented on #285
@cristianoliveira have you made any progress on this feature?

[2017-10-20 14:06] rex-sheridan opened #304 "Not able to view text columns"
Hello,

Apologies ahead of time if this is not the proper forum but I didn't see any pgweb questions on StackOverflow.  I am trying to use pgweb to view the contents of a table with a text column.  Anytime I see the results it always displays the results as some numeric value like "41006".  All other columns render perfectly.  I know the contents are something other than "41006" because the applic

[2017-10-20 14:08] rex-sheridan commented on #304
I also tried a query like the following to force the text column to render:

`select '''' || payload || ''''  from payment_event`

[2017-10-20 15:29] sosedoff commented on #304
Hi there, which pgweb/postgres version are you using? Could you provide a scrubbed dump with a sample set of data?

[2017-10-20 15:52] rex-sheridan commented on #304
We are using pgweb as of commit [aba81334a5d1774a5a347ae45ce326ee4e91745f](https://github.com/sosedoff/pgweb/commit/aba81334a5d1774a5a347ae45ce326ee4e91745f).  We are using PostgreSQL 9.6.4.

Attached screenshots and JSON dump.

<img width="771" alt="screenshot 2017-10-20 11 50 09" src="https://user-images.githubusercontent.com/975368/31830033-057e503c-b58d-11e7-89fc-13a18fdb5dbe.png">

<img width

[2017-10-20 16:10] sosedoff commented on #304
Hm thats strange. Could you try creating a new test db and importing the dump file i attached?
Then try browsing data/running query in pgweb.

[pgweb_issue_304.sql.gz](https://github.com/sosedoff/pgweb/files/1402571/pgweb_issue_304.sql.gz)

Here's what i see:
<img width="539" alt="screenshot 2017-10-20 11 07 29" src="https://user-images.githubusercontent.com/71051/31830801-f24ff822-b586-11e7-9ad9-

[2017-10-24 15:02] rex-sheridan commented on #304
When I used your dump file everything looks fine.  Not sure what is going on with my schema.

<img width="871" alt="screenshot 2017-10-24 11 00 29" src="https://user-images.githubusercontent.com/975368/31950978-d94938a8-b8aa-11e7-82be-ffb7aa188bdc.png">

[2017-10-24 17:08] rex-sheridan commented on #304
I was able to recreate the issue by dumping my own data and importing it to a new DB.  It appears related to data populated as large objects.

I see in the dump file from my schema stuff like the following:
[code]

[2017-10-24 17:18] sosedoff commented on #304
Can you send me the SQL dump so i can reproduce and fix the issue? You can post it here or send it my email (in profile).

[2017-10-25 02:26] rex-sheridan commented on #304
I have attached the SQL dump.

[pgdump2.sql.gz](https://github.com/sosedoff/pgweb/files/1413046/pgdump2.sql.gz)

I am using the standard postgres JDBC driver to populate these objects in my application.  Since the contents of the column can be arbitrarily large in my application I am using Clob functionality.  I investigated the source code to see  how the driver is implemented.  When using Clobs

[2017-10-27 18:27] yathuganesh commented on #280
custom uerry contents leak

[2017-10-28 07:42] DylanGriffith commented on #269
I'd like to have a go at this. I'm not super familiar with Go, but generally familiar with integration testing.

I was thinking I'd follow the instructions on [Agouti](http://agouti.org/) for setup but I imagine that you'll want me to add a make task to get the test running on Travis. I assume that phantomjs is probably the easiest way to get the test running on travis.

I imagine I'll write at le

[2017-10-28 09:06] varp commented on #269
@sosedoff ok. I got it. Just finished reading a book on Golang =)

[2017-10-28 12:34] sosedoff commented on #269
@DylanGriffith Agouti requires a specific setup, so if you follow their readme you should be able to get it figured. I usually group my test files by functionality.

As far as the tests go, we just need coverage for the most functionality like connecting to the database, switching tables, running custom queries, sorting, filtering, pagination, data export and so on.

[2017-10-28 12:35] sosedoff commented on #280
@yathuganesh ?

[2017-10-29 08:03] alfozan opened #310 "exporting Tables with uppercase letters"
There is a table `Languages` in the scheme `public`; attempting to export it (i.e. to `JSON`) by right clicking on the table name fails and shows an error message.

**Expected:**
`JSON file
`
**Error message result:**
`{"error":"pq: relation \"public.languages\" does not exist"}
`
**Note:**
the query below works:
`select * from public."Languages"
`
This issue might be related to [https://github.co

[2017-10-31 03:03] sosedoff commented on #310
Uh, i'll check on this one. I thought it was already fixed.

[2017-10-31 03:08] sosedoff commented on #304
@rex-sheridan i'm not sure what to do about this issue. i've never used largeobjects feature before. Given pgweb's limited feature scope i don't think it's worth supporting in the long run, although if someone wanted to create a pr i'd happy to review and merge if possible. I also don't have any time to work on something like this, there's plenty of other bugs/features that i need to take care of

[2017-10-31 11:46] rex-sheridan commented on #304
Now that I am aware of the behavior I think it's totally acceptable to leave pgweb as-is.  No need to clutter the application.  Thanks for your help and for creating a really useful application.

[2017-10-31 13:34] varp commented on #304
@rex-sheridan please reopen the issue, please.

[2017-10-31 15:09] rex-sheridan commented on #304
Reopened at the request of @varp.

[2017-11-01 04:28] sosedoff commented on #304
@varp why do you need this issue reopened? i thought we've pretty much covered all the ends here.

[2017-11-01 04:35] varp commented on #304
@sosedoff sometime we need to do it, right?

[2017-11-01 04:45] sosedoff commented on #304
Well, when time comes - sure, but it seems like a lot of hustle right now.

[2017-11-01 23:41] Wilbeibi commented on #171
Today, I saw this problem again.
I tried `brew cask install pgweb`, or `go get` and build, both method show the same error messages.

[2017-11-01 23:49] Wilbeibi opened #314 ""Asset static/index.html can't read by error" failed again"
Hi Dan,
I saw "Asset static/index.html can't read by error: Error reading asset static/index.html at /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: open /Users/sosedoff/go/src/github.com/sosedoff/pgweb/static/index.html: no such file or directory"

after `brew cast install pgweb` or `go get` and build from source code.
This is the same issue as [#180](https://github.com/sosedo

[2017-11-02 00:10] sosedoff commented on #314
@Wilbeibi i've added guard to CI recently. Although all the releases pushed out to github should not be affected. Which pgweb versions that you've tried had this asset bug ?

[2017-11-02 00:12] Wilbeibi commented on #314
@sosedoff 0.9.9

[2017-11-02 00:27] sosedoff commented on #314
0.9.9 binary release and source code does not contain any dev assets, i'm not sure how you ended up with the version that does. if you know the git sha i can check if it's broken.

[2017-11-02 00:59] Wilbeibi commented on #314
Oh, sorry, thank you for the suggestions.

After `git pull` I get the latest version and it's working now (weird, why `go get` does not give me the right one?). And the `brew cask` issue is because my environment PATH found the `go get` one first.

Thanks again for your work.

[2017-11-02 00:59] #314 closed

[2017-11-02 01:10] sosedoff commented on #314
If you're building from master - then yes, assets get broken sometimes, that explains why you were seeing the error.

[2017-11-03 15:00] peteyy opened #315 "Brew formula and service"
With [homebrew](https://brew.sh/) we could enable the users for easy install and automatic startup (and restart) for pgweb for seamless control 👍

[2017-11-04 02:44] sosedoff commented on #315
Pgweb is already distributed via homebrew cask, however i'm not sure if casks support plists. Since im a pgweb developer i dont really use the service plist, however i've made one before and it worked fine. I just posted my question on homebrew-caskroom to figure out if this is something we can add.

Here's the plist that works with the latest pgweb installed from the cask:

[code]

[2017-11-04 03:08] sosedoff opened #316 "Fix flaky ssh port listener test"
Common CI failure:

[code]

Low hanging fruit.

[2017-11-06 01:06] Vonatzki commented on #285
This feature will be a heaven-sent for those who manages hundreds of tables in their database like me :)

[2017-11-10 13:04] tylerlong opened #318 "[Feature request] configure ssh tunnel via command line options"
Add the following application options:

[code]

[2017-11-10 13:08] tylerlong opened #319 "[Feature Request] configure query timeout via command line options"
Current the query timeout is hard-coded: https://github.com/sosedoff/pgweb/blob/master/static/js/app.js#L57

The feature request is for adding the following command line option:

[code]

[2017-11-10 13:21] varp commented on #319
There is adjacent issue #287. @sosedoff I think you can close my one - #287

[2017-11-12 00:54] tylerlong commented on #318
I just find that it is possible to use the bookmark feature to let command line support ssh tunnel.

[2017-11-19 04:01] sosedoff commented on #318
We could even reduce number of CLI options (which has grown a bit) by using a single option to pass the host/port/user/pass like this:

[code]

I dont use SSH with pgweb directly, only via bookmarks, so let me know what you think.

[2017-11-19 04:08] sosedoff commented on #315
To answer my own question regarding the plist support in homebrew casks: no, its not supported. If we wanted to move pgweb to homebrew core we would have to support building from source, which i don't find useful.

[2017-11-19 04:08] #315 closed

[2017-11-19 04:35] sosedoff commented on #248
Im going to close this one since it has been quiet for almost 2 months now. Feel free to reopen or submit a new ticket with any questions.

[2017-11-19 04:35] #248 closed

[2017-11-29 08:40] heroic opened #326 "export view to CSV"
We use a view to give our team some dashboards. However exporting these views isn't possible. Giving our team SQL to use and export isn't handy.

[2017-12-01 04:33] sosedoff opened #328 "Add database name prefix to exported files"
When exporting tables to XML/CSV/JSON/SQL the exported filename will not contain the name of the database which might be confusing.

[2017-12-01 05:43] sosedoff commented on #253
Closing this since the feature has been implemented.

[2017-12-01 05:43] #253 closed

[2017-12-05 07:28] tylerlong commented on #318
We could even extend the url option:

`--url=postgresql://user:pass@host:port/db?sslmode=sslmode#ssh://user:pass@host:port?sshkey=~/.ssh/id_rsa`

I am also OK with `--ssh=user:password@host:port?sshkey=~/.ssh/id_rsa`

The feature is already there, we should expose the feature via command line.

[2017-12-07 06:56] codyleyhan commented on #328
I think I can handle this!

This is referring to the exported queries correct?

[2017-12-07 07:19] sosedoff commented on #328
Hm, i've actually implemented this in #329

[2017-12-07 07:19] #328 closed

[2017-12-08 05:08] sosedoff commented on #326
This has been implemented and released in 0.9.11.

[2017-12-08 05:08] #326 closed

[2017-12-08 05:09] sosedoff commented on #304
Closing this issue for now.

[2017-12-08 05:09] #304 closed

[2017-12-08 05:11] #293 closed

[2017-12-08 05:13] sosedoff commented on #286
This is not going to happen on 0.x branch, so closing for now. Im planning to rewrite the pgweb frontend to accommodate all the editing functionality in pgweb 1.x, coming in 2018.

[2017-12-08 05:13] #286 closed

[2017-12-08 05:14] sosedoff commented on #287
Will implement this in the next release.

[2017-12-08 05:14] #287 closed

[2017-12-08 05:14] #260 closed

[2017-12-08 05:18] sosedoff commented on #257
@Vonatzki can we get this wrapped up? I don't really have anything to work with to reproduce your issue, so please send some example sql data, OR close the issue if it's no longer the case.

[2017-12-08 05:20] sosedoff commented on #291
Dupe

[2017-12-08 05:20] #291 closed

[2017-12-10 12:12] Vonatzki commented on #257
Hi @sosedoff, will close this issue for now. The issue still remains though but I don't have time to recreate an anonymized version of the said issue for you. Apologies.

If you have time, the tables were created with the same process like the one in this link when creating the foreign data wrapped tables:

https://robots.thoughtbot.com/postgres-foreign-data-wrapper

[2017-12-10 12:12] #257 closed

[2017-12-17 18:14] transcranial commented on #310
Same issue, occurs with trying to show the "Structure" tab for a table containing uppercase letters as well:

`ERROR: pq: relation "public.exampletable" does not exist`, for `exampleTable`

[2017-12-21 02:34] sosedoff opened #333 "Add ability to split the SQL query page into horizontal panes"
On the custom SQL query page there should be an option to display the
editor/results horizontally, so that the editor is on the left and query results
are on the right. This will help a lot when writing a large SQL query.

[2017-12-29 12:38] kevflynn commented on #310
I believe the same issue occurs when trying to add query constraints for columns with uppercase letters - i.e. select * from table where columnName = 'test'
ERROR: pq: column "columnNmae" does not exist

[2018-01-04 12:10] muhammedabad opened #335 "Row deletion"
Is is possible to delete a single row without writing a query ?

[2018-01-07 13:15] u007 opened #336 "[feature] backup and restore"
hi,

how about backup and restore?

[2018-01-12 17:37] adammoisa opened #340 "{"error":"open /app/.pgweb/bookmarks: no such file or directory"} when trying to connect on deployed heroku version"

[2018-01-12 19:53] sosedoff commented on #340
How are you trying to connect ? Need a bit more info

[2018-01-13 07:08] varp commented on #319
I've added disable query timeout checkbox in UI. Look at PR https://github.com/sosedoff/pgweb/pull/339

[2018-01-22 01:55] alfozan commented on #310
@transcranial : try `public."exampletable"`  instead of `"public.exampletable"`

@sosedoff : any plans to fix this in the upcoming release?
Thank you

[2018-01-23 09:01] varp opened #341 "DisableIdleTimeout is not work as expected"
The session still freezing when you run `pgweb` with `--disable-idle-timeout`. Maybe I do not correctly understand the meaning of that flag?

[2018-01-23 15:30] sosedoff commented on #341
What do you mean by `session still freezing` ?

There are 2 flags related to the connection idling:

[code]

These deal with the hanging connections:  if pgweb runs in session mode and the session is abandoned it'll be automatically closed, otherwise the server will hoard the database connections.

[2018-01-23 15:31] sosedoff commented on #340
@adammoisa ping

[2018-01-23 15:34] sosedoff commented on #335
@muhammedabad sorry for the late response: no, its not possible to delete a row from the row browser UI.

[2018-01-23 15:34] #335 closed

[2018-01-26 12:09] gytisgreitai commented on #204
Sorry to bump into old thread. Do I understand correctly that there is no way how to dynamically link to a connection via url? E.g. we have a lot of dynamic environments which are autogenerated and I would like to automatically create links for pgweb to autonnect

One option is to probably enable cors and do a post to /api from the web app where I want to include dynamically generated links and th

[2018-01-26 15:34] beedawg1985 opened #342 "Display full name of table constraints"
I was trying to remove a primary key constraint from a table but couldn't find the name of the constraint to remove it. Would it be possible to add this under the 'CONSTRAINTS' tab alongside the involved field name which is already listed?

[2018-01-31 04:32] sosedoff commented on #342
Yeah, sure. I will add that.

[2018-02-01 16:39] beedawg1985 opened #344 "Preserve table sorting when switching between tables"
Sure there'll be several schools of thought on this but I frequently will sort a table by a field, check a row, then browse to another table to cross-reference something, before browsing back to the original table.

When I do this the original table has re-sorted itself back to default. Wondering if it would make sense to keep table sorting (and possibly highlighting of rows, editable text boxes e

[2018-02-01 19:34] joemccann opened #345 "Connection Refused to Web Server"
First, this is an awesome project and I'm happy to be using it! 🙏

I was able to get `pgweb`to run with no problem on my Mac, but when I create a brand new EC2 instance with ALL TRAFFIC open to it, I get a connection refused error.

On the machine itself, I can `curl localhost:8081` and it sends back the HTML to the login screen.

This is the command:

[code]

The odd thing is I have another Expre

[2018-02-01 19:48] sosedoff commented on #345
@joemccann thats because by default pgweb is listening on localhost only. you can bind the server to any network interface with `--bind=0.0.0.0` flag.

[2018-02-01 21:32] joemccann commented on #345
ahhhh sorry I didn't see that in the docs!

[2018-02-01 21:32] joemccann commented on #345
yup that fixed it. Thanks!

[2018-02-01 21:32] #345 closed

[2018-02-10 16:07] sosedoff commented on #344
We can save the table filters and sorting state and restore it when switching between tables. I'll see what i can do here.

[2018-02-20 15:47] beedawg1985 opened #346 "[Feature] Allow hiding of list of tables on left-hand side"
This would enable viewing of tables with many columns without need to scroll between them.

[2018-02-23 03:09] wyangsun opened #348 "web authenticate issue"
Hi,
    If I use pgweb login to a DB, anyone can query SQL by the pgweb.
    The stat of login seems to save on server.

[2018-02-27 09:16] wyangsun commented on #348
need use '--sessions' options.

[2018-02-27 09:16] #348 closed

[2018-03-03 05:02] sosedoff commented on #336
pgweb is a database browser tool so backup and restore functionality is really out of scope. use `pg_dump` / `pg_restore` commands. pgweb however offers a pretty simple way to export the database as a sql.gz dump without any options, and that's pretty much it.

[2018-03-03 05:02] #336 closed

[2018-03-03 05:05] sosedoff commented on #283
any tables that contain large blobs of text or other data will result in UI slowness, there's not much that could be done in the current pgweb version. closing for now.

[2018-03-03 05:05] #283 closed

[2018-03-04 10:36] casoetan commented on #235
No plans for this yet?

[2018-03-08 02:31] fire commented on #235
Looks supported in Cockroachdb 2. https://github.com/cockroachdb/cockroach/pull/23334

[2018-03-08 13:36] MstWntd opened #349 "password with '#' in url doesnt work"
Issue:
using '#' in the password field of the URL causes pgweb to not connect.
'#' works when used in the "standard" connection method.

Bad Example:
postgres://pguser:pgpass###@localhost:5433/mydb?sslmode=disable <-- this causes pgweb to get confused as to where the host/port is in the url

Good Example:
postgres://pguser:pgpass@localhost:5433/mydb?sslmode=disable <--- this works

![image](https:

[2018-03-08 15:31] sosedoff commented on #349
Ah, the `#` sign must be escaped for this to work, ie `postgresql://user:%23password%23@hostname/database`

[2018-03-09 14:40] MstWntd commented on #349
Yup that worked!.. btw you have amazing project here and i really appreciate it!

[2018-03-10 19:26] sosedoff commented on #349
👍

[2018-03-10 19:26] #349 closed

[2018-03-12 10:45] MstWntd opened #350 "[Feature] Responsive CSS for mobile view"
Would nice to have a more of a "mobile feel" when using pgweb via a mobile browser.

[2018-03-20 16:22] debashree-patnaik opened #352 "Display table and column list based on first few typed chars"
While writing queries, I see that the table or column names are not shown for the user to select based on the first few typed characters.

It would definitely help to have this feature in reducing the time while writing queries.

[2018-03-20 18:19] jdalrymple commented on #215
@cheungpat Any chance you got around to adding editting functionality?

[2018-03-20 23:12] MstWntd opened #353 "[How to] ldap connectivity"
I would like to hook this up to ldap instead of having its basic auth in place.

is this possible by using apache somehow or use the backend connectivity feature?..

[2018-03-21 00:52] sosedoff commented on #353
You can try putting https://github.com/gopenguin/ldap-proxy in front of pgweb, i haven't tried that thought. Maybe in future pgweb can offer native LDAP authentication backend, but there's not much need for it at the moment.

[2018-03-21 00:52] #353 closed

[2018-03-21 00:55] sosedoff commented on #352
This could be added on top of #285, but yeah the keyword/db objects autocompletion is something that i've been meaning to implement for a long time now. Hopefully i get to it when i get a bit more of free time.

[2018-03-23 08:25] MstWntd opened #354 "Option to not show connection details"
When using bookmarks, there should be a cli option to hide the connection details from the users.

[2018-03-24 10:44] arteniioleg commented on #260
Feedback: I like pgweb modern design, but adminer is more feature rich, for example foreign key management. pgweb looks nice but it's good only for data browsing.

[2018-03-29 08:56] varp commented on #260
@sosedoff you didn't accept previous ones

[2018-03-30 21:34] MostHated commented on #215
Man, the whole reason I was excited to use this was that I figured you could edit the data. Surprised that is not the case.

[2018-03-30 21:35] jdalrymple commented on #215
lol its still a wicked app, just missing some functionality. Id make a PR but id have to really dig into it to understand it all

[2018-04-11 11:43] aksdb opened #355 "Add transaction support"
It would be nice for pgweb to support transactions and allow to toggle between auto-commit and manual begin/commit/rollback. That way you could perform a series of manipulations, check the result and commit only if you are satisfied.

[2018-04-11 14:36] sosedoff commented on #355
Are you talking about the SQL query pane?

[2018-04-13 16:49] aksdb commented on #355
For now - since this is the only place where I can manipulate data.
If pgweb gets form / table based editing support sometime in the future, that would be a good candidate for transactions as well.

[2018-04-26 04:39] sosedoff commented on #354
Sorry i forgot to reply in time. Can you clarify on why the connection details should not be visible if bookmark is being used? No sensitive information is exposed on that page, and any user can actually get the same info by running a sql query themselves.

[2018-04-26 04:41] sosedoff commented on #350
Mobile devices were never meant to be supported by pgweb, and there's no plan on supporting in the the current version.

[2018-04-26 04:41] #350 closed

[2018-05-03 03:00] sosedoff commented on #282
This has been implemented via the following flags:

[code]

[2018-05-03 03:00] #282 closed

[2018-05-07 19:18] smurfpandey commented on #49
@santagada I know this is a old thread, but I wanted to share my fork in case you still need a similar tool for MySQL.  https://github.com/smurfpandey/mysqlweb

[2018-05-14 11:36] TomoGlavas commented on #221
A short how to or link to how to install would be nice.
Having problems getting the right binary and method for installing on Ubuntu.

[2018-05-14 17:47] sosedoff commented on #221
@TomoGlavas check https://github.com/sosedoff/pgweb/wiki/Installation

[2018-05-15 08:45] antoniomo commented on #228
Sorry for reopening, when testing with cockroachdb 2 (which AFAIK should support `pgweb`) on secure mode, I can't get a self signed root cert to work:

[code]

Any ideas?

[2018-05-16 12:55] antoniomo opened #360 "Specify CA/Client certs for verify-full mode"
Related to issue #228 but that one was closed.

Adding more information:

when testing with CockroachDB 2.0 (which, AFAIK, should support pgweb) on secure mode, I can't get a self signed root cert to work:

[code]

[2018-05-16 13:55] Garbee commented on #360
CockroachDB is not supported by pgweb. There was [a PR to add it](https://github.com/sosedoff/pgweb/pull/351) but the author closed it until they added test setup so tests get executed on that engine too.

[2018-05-16 19:30] antoniomo commented on #360
I see! However nothing on that PR points to a different treatment of the certificates on the url string, so I think the author used it without ssl. Are self signed certificates supported by pgweb in vanilla postgres?

[2018-05-19 15:57] ArturFormella commented on #116
Do you save connection data somewhere? :)

[2018-05-19 19:09] sosedoff commented on #116
What do you mean? The demo site does not save any data that passes through it, you can check the source code.

[2018-05-23 08:40] tomholub opened #361 "[0.9.12] Connect to fresh CockroachDB: Uncaught TypeError: Cannot read property 'length' of undefined"
Managed to successfully connect to local CockroachDB, and I can issue SQL statements and get back results.

The node has no databases yet.

Error:
[code]

![image](https://user-images.githubusercontent.com/6306961/40413214-da750cae-5ea7-11e8-9f6c-1f317aaf2b36.png)

[2018-05-23 08:44] tomholub opened #362 "[0.9.12] do not add ?sslmode=disable if I already specified sslmode in url"
The standard way to connect to my db is:
`postgresql://root@127.0.0.1:26257?sslcert=%2Fhome%2Fluke%2Fgit%2Fflowcrypt-deploy%2Fsecrets%2Fkeys%2Fcockroach%2Fdev%2Fclient.root.crt&sslkey=%2Fhome%2Fluke%2Fgit%2Fflowcrypt-deploy%2Fsecrets%2Fkeys%2Fcockroach%2Fdev%2Fclient.root.key&sslmode=verify-full&sslrootcert=%2Fhome%2Fluke%2Fgit%2Fflowcrypt-deploy%2Fsecrets%2Fkeys%2Fcockroach%2Fdev%2Fca.crt`

Notic

[2018-05-23 08:49] tomholub commented on #361
Once I issue the following statement & refresh the page, error goes away:
[code]
Ideally, the app would work properly w/o a DB selected.

[2018-05-23 09:03] tomholub opened #363 "clicking on Activity in top menu causes error"
[code]

[2018-05-23 09:04] tomholub commented on #363
[code]

[2018-05-23 09:04] tomholub commented on #363
This is while connected to CockroachDB 2.0.2

[2018-05-23 16:44] sosedoff commented on #363
Pgweb does not officially support CockroachDB, even though CDB supports the Postgres wire protocol.

[2018-05-27 09:34] mbande opened #364 "How to disable full table count on rows tab"
when a user clicks on table names, the ```rows``` tab is activated, and it triggers a full table count query.
in my case, tables have many many rows, and [slow counting](https://wiki.postgresql.org/wiki/Slow_Counting) problem appears.
is there any way to disable full page count? or use some king of [count estimate](https://wiki.postgresql.org/wiki/Count_estimate)?

[2018-06-06 03:57] sosedoff commented on #362
You're right, there's a dumb check for `?sslmode` presence in the url, so if it's not the first parameter it gets added to the url. However, i'd like to know how did you connect to the database? CLI or via web?

[2018-06-06 03:59] sosedoff commented on #363
All these minor issues are addressed and going to be released in the next version.

[2018-06-06 03:59] #363 closed

[2018-06-06 04:02] sosedoff commented on #364
There's no way to disable the pagination (which uses count(1)) at this time. I don't think i would have any time to get this issue resolved, unfortunately. I'd rewrite a lot of backend code to get everything smooth, but that's a completely new time sucker.

[2018-06-06 04:02] #364 closed

[2018-06-06 04:06] sosedoff commented on #361
Fix has been added to master. However, the app will require the user to specify the database name, because a lot of endpoints expect the "correct" environment, ie. postgres will try to use the current username as a database (and fail if it does not exist), but that's not the case with cockroach.

[2018-06-17 18:26] jas99 opened #367 "Getting "bad gateway""
Error "Bad Gateway"
Following is my docker setup

**Traefic Reverse proxy**
[code]
**pgweb**
[code]

Lemme know if you have further questions

Thx

[2018-06-17 22:13] sosedoff commented on #367
You need to bind to 0.0.0.0, pgweb is listening on localhost only by default.

[2018-06-18 09:45] jas99 commented on #367
Didn't work for me, but I am considering something weird might be with my reverse proxy; I am gonna stash this for later on my todo list to figure I out.

I will post here once I do, anyways thx for suggestion @sosedoff

[2018-06-19 01:51] sosedoff commented on #367
@jas99 btw was that a traefik config or docker compose or something else? i was replying from email after looking at your sample config, which didnt really ring a bell.

[2018-06-19 08:22] jas99 commented on #367
@sosedoff Yup those are docker compose files, the traefik configuration is actually done with `command` in compose file itself.
[code]

[2018-06-19 20:36] sosedoff commented on #367
@jas99 i was able to start both services with a modified config:

[code]

Had to modify my `/etc/hosts` file with `127.0.0.1 db.abc.com`.

I think main reason why you got 502 error is because pgweb did not start correctly due to invalid credentials / etc.

[2018-06-20 00:55] sosedoff commented on #367
Im closing this issue since it has nothing to do with pgweb itself. To reiterate the issue: pgweb does work just fine with docker compose / kubernetes / swarm or any other container scheduler so if something does not work correctly make sure to double check the start arguments and network configuration. Also, feel free to ask any questions in this tread just in case.

[2018-06-20 00:55] #367 closed

[2018-06-20 02:49] #361 closed

[2018-06-20 02:51] sosedoff commented on #355
Closing this for now, there's no plan for transactional support for the time being.

[2018-06-20 02:51] #355 closed

[2018-06-20 02:52] sosedoff commented on #342
Added in master some time ago.

[2018-06-20 02:52] #342 closed

[2018-06-20 02:54] sosedoff commented on #354
No feedback, closing for now. I dont think hiding any connection details would make any sense, see my previous post in this thread.

[2018-06-20 02:54] #354 closed

[2018-06-20 03:02] sosedoff commented on #340
Stale issue, closing due to no activity.

[2018-06-20 03:02] #340 closed

[2018-06-20 03:03] sosedoff commented on #341
No activity - closing.

[2018-06-20 03:03] #341 closed

[2018-06-20 03:05] sosedoff commented on #318
Closing due to no activity.

[2018-06-20 03:05] #318 closed

[2018-06-21 14:45] eleijonmarck opened #368 "SSH through tunneling bastian host"
Hello,

I would like to use SSH Tunneling through Bastian host together with pdweb.

111.111.111.0+111.111.111.1+database

Would this work?

[2018-06-22 03:16] sosedoff commented on #368
While the basic ssh proxy feature is available in pgweb, there's no way to configure a ssh jump-host (bastion) at this time. You would probably need to configure the local ssh tunnel through your bastion server using your local ssh configuration files. What's your current setup look like ?

[2018-08-21 12:50] natiki opened #371 "When running a windows client using SSL there are some commands not recognised?"
Hi,

I am trying to get this working under Windows 10 using SSL. However when I make a connection I get:

[code]

On a Windows system where do I get those binaries?

[2018-08-21 12:59] natiki opened #372 "Trying to pull the docker image fails...."
Hi,

![image](https://user-images.githubusercontent.com/4738140/44402689-dfe77c00-a595-11e8-9755-dfad59e23a68.png)

What am I missing here?

[2018-08-21 13:51] sosedoff commented on #372
No idea, the pgweb image is public so it should work. What version of docker are you running? Also, try `docker login` with your docker user and see if that works.

[2018-08-21 13:52] sosedoff commented on #371
How are you connecting to the postgres server?

[2018-08-22 10:32] natiki commented on #371
I have spun up a local development cluster of CockroachDB using the secure mode by following the instructions found at https://www.cockroachlabs.com/docs/stable/secure-a-cluster.html

This talks PostgreSQL on the wire and according to a Cockroach forum post people have had success using pgweb to connect to it.

So according to the primary node my connection string is:
[code]
So I attempt to call t

[2018-08-22 10:35] natiki commented on #372
I logged in and was then able to pull. Strange. Anyway I am now trying to use the docker image to connect to a CockroachDB instance ([see here for details](https://github.com/sosedoff/pgweb/issues/371#issuecomment-414987905)) running **outside** of Docker.

So how to I modify the example given in [your instructions](https://github.com/sosedoff/pgweb/wiki/Docker#example) to link to the cluster?

[2018-08-22 13:33] belonesox opened #373 "Customizing Login Form for Simplicity"
Right now if pgweb is launched in multisession mode, login form is overcomplicated:
* Tabs: Scheme/Standard/SSH
* On Tab "Standard": Host,  Username,  Password, Show, Database, SSL Mode

One of the most popular case, is running pgweb on the same host where Postgresql launched, and in that case users should only know about their login/password, and may be database name (ideally, users should make d

[2018-08-22 14:13] sosedoff commented on #372
I think you can start the container with `--network=host` so pgweb can talk to locally running server.

[2018-08-23 09:31] natiki commented on #371
OK we are getting somewhere - double quotes is what is needed:

[code]

So as this is a windows machine I am not sure how you would like the permissions to avoid the `0600` error?

[2018-08-23 09:39] natiki commented on #372
[code]

The docker daemon is running as verified with `docker info`

[2018-08-23 14:38] sosedoff commented on #372
The way you start container does not look right. The error says that the container you're trying to link is not running. Also, when you're starting container with host network you dont need to specify ports because they map to the host automatically. Finally, when you're using certs with pgweb you have to make sure they're in container, or at least they're mounted via a volume.

Alternatively, you

[2018-08-23 14:41] sosedoff commented on #371
0600 is not an error, its the required permissions mode on those certs. most likely you have too open permissions right now, so try changing that first. you're almost there.

[2018-08-23 23:10] sosedoff commented on #373
I don't see what's the problem with current connection screen, you have a very simple (schema) view with a single field to enter Postgres URI. The bare minimum is `postgres://localhost/dbname`. The standard connection screen covers all the needs for local / remote browsing. For SSH there's no way around, you need all that info. So yeah, users should definitely know about host/port stuff.

Most use

[2018-08-23 23:10] #373 closed

[2018-08-24 10:33] natiki commented on #371
I understand it is a permissions issue. However this is a Windows system so what are you expecting the permissions to be on Windows?

[2018-08-24 23:32] sosedoff commented on #371
I dont know, the error is coming from the pgweb's dependency (postgres driver) so you'd have to research on the required permissions level. For the reference: https://github.com/lib/pq/issues/489

[2018-08-29 03:01] sosedoff commented on #372
@natiki Im closing this issue for now. Seems like a docker problem. I just tested the pull with a fresh DO server and was able to pull the image without any login. Also, here's the issue for reference: https://github.com/docker/hub-feedback/issues/1098.

[2018-08-29 03:01] #372 closed

[2018-08-29 03:02] sosedoff commented on #371
Any luck getting everything running properly?

[2018-08-29 11:42] natiki commented on #371
Not as of yet. Basically even if I set the files to read only on Windows then it is still not happy. I tried same as the original reporter some other restrictions on the permissions of the files with no joy either.  According to that issue it appears that the fix is in to work around this in pq. Is it possible that pgweb / pg don't know what OS they are running on?

[2018-08-31 11:07] leotu opened #374 "Greenplum support"
https://greenplum.org/

Please support Greenplum Database 4.3.x and 5.X

[2018-08-31 12:15] cbandy commented on #374
What error(s) do you get when using Greenplum?

[2018-08-31 12:28] cbandy commented on #371
Godeps is pinned to a lib/pq version from ~3 years ago. The fix for Windows permissions was merged ~2 years ago.

[2018-08-31 12:33] cbandy commented on #372
I think `--network=host` needs to come before the image name.

[2018-08-31 23:30] sosedoff commented on #371
Cool, i'll update the dep

[2018-09-01 02:09] natiki commented on #371
Cool. Will test new version when you release it and then hopefully I can close this out.

[2018-09-01 04:06] natiki commented on #372
[code]
and then:

[code]

[2018-09-01 04:34] sosedoff commented on #372
Here's the baseline script for you to get started with pgweb and cockroach db using docker containers:

[code]

Also, host networking might not work on mac (or win) the same way it works on linux so i cant really say if whatever you're doing is going to succeed. But the example i provided works and should be the same across all stacks.

[2018-09-11 12:24] natiki opened #376 "Windows version won't even connect when insecure...."
Hi,

Started a basic cluster on windows with:

[code]
I can connect with DBeaver, Visual Studio Enterprise but pgWeb throws an error of:

Screenshot has the details:

![image](https://user-images.githubusercontent.com/4738140/45359907-574a8180-b611-11e8-91f4-f1a3d19c9c45.png)

[2018-09-12 19:35] sosedoff commented on #376
Yeah i think i've seen this error, you need to connect to a valid user schema, not the virtual one like in your screenshot. I have ran only basic tests with cockroach, so its not officially supported by pgweb at this time, although they're compatible

[2018-09-12 19:41] sosedoff commented on #374
@leotu could you be more specific with your request?

[2018-09-14 04:36] sosedoff commented on #374
Closing until there's some background for this issue. Personally, i don't have time to research into Greenplum integration, so cant really add any useful info.

[2018-09-14 04:36] #374 closed

[2018-09-19 07:49] sp1ndl3r opened #382 "Would be nice to have the url-prefix as an environment variable."

[2018-09-20 14:12] ric2z opened #383 "Can't seem to access tables not on "public""
Hi there,

I recently started a new instance on Heroku, but I'm not able to access tables under schemas other than `public`. For example, I'm trying to access a table named `event` on a schema named `blanket`, but I get this error on the **Rows** tab:

Has anyone seen this issue before? Happy to share more information if needed.

Thanks in advance.

[2018-09-22 15:59] sosedoff commented on #383
Which version of pgweb are you using ?

[2018-09-24 21:27] ric2z commented on #383
@sosedoff I used the "Deploy to Heroku" button, so I'm guessing I'm on the latest version.

[2018-09-24 22:07] sosedoff commented on #383
I'll have a look

[2018-10-02 22:04] bherila opened #384 "Unable to edit table data"
It seems that edits to table data aren't sticking. Any info I could collect that could help pinpoint what's going wrong?

[2018-10-02 23:15] sosedoff commented on #384
Nothing is wrong :) The edit feature was never implemented, what you're seeing is a helper functionality to copy the cell contents.

[2018-10-02 23:15] #384 closed

[2018-10-10 12:20] fzumstein commented on #333
This would indeed be my biggest UX issue. Instead of your suggested split, you could also think of leaving the current layout but to either split the window using a slider or even just have the ability to show/hide the lower/result part.

[2018-10-26 14:01] ayang opened #385 "json: unsupported value: NaN"
2018/10/26 21:56:40 [Recovery] panic recovered:
GET /api/tables/public.some_table/rows?limit=100&offset=0&_=1540562079027 HTTP/1.1
Host: localhost:8081
Accept: */*
Accept-Encoding: gzip, deflate, br
Accept-Language: zh-CN,zh;q=0.9,en;q=0.8
Connection: keep-alive
Referer: http://localhost:8081/
User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.67 Sa

[2018-11-05 19:36] sosedoff commented on #385
I'll have a look.

[2018-11-05 22:37] sosedoff commented on #385
Which pgweb version are you using?

[2018-11-06 01:13] ayang commented on #385
Pgweb v0.9.12 (git: 9af721176bf7b41366f0de8251fff0b47da8fce3)

[2018-11-26 22:59] andrewnazarov commented on #382
Yes, a possibility to define the base URL would be a thing.

[2018-11-27 22:53] sosedoff commented on #376
Closing this for now: feel free to reopen if you'd like to improve integration with cockroachdb

[2018-11-27 22:53] #376 closed

[2018-11-28 16:35] sosedoff commented on #385
Should be fixed with latest 0.10.0 release

[2018-11-28 16:35] #385 closed

[2018-11-28 16:36] sosedoff commented on #382
New env var `URL_PREFIX` is available in 0.10.0 release

[2018-11-28 16:36] #382 closed

[2018-11-28 16:36] sosedoff commented on #371
@natiki 0.10.0 is released with updated dependencies.

[2018-11-28 16:36] #371 closed

[2018-11-28 16:36] sosedoff commented on #362
Fixed

[2018-11-28 16:36] #362 closed

[2018-12-06 03:05] sosedoff commented on #316
I haven't seen any issues with this test for quite some time, so closing for the time being.

[2018-12-06 03:05] #316 closed

[2018-12-06 03:09] sosedoff commented on #360
Im closing this issue for now since there's not much i can help with at this time.

Pgweb uses https://github.com/lib/pq to connect to postgres, so if something regarding certs/CA stuff does not work i'd definitely look into that repo.

Pgweb 0.10.0 is finally out with a bunch of updated deps (including lib/pq one) so give it a try.

[2018-12-06 03:09] #360 closed

[2018-12-06 03:10] sosedoff commented on #383
@ric2z  is this still an issue for you? i tried to replicate your setup, but i had no problem seeing different schemas in my test db on heroku.

[2018-12-06 03:11] sosedoff commented on #310
Looks like it has been fixed in 0.10.0

[2018-12-06 03:11] #310 closed

[2018-12-07 01:29] JNFoo opened #392 "Latest version as of 12/5/2018 triggers antivirus"
Hi, the latest windows version executable (as of 12/05/2018) gets quarantined by AVG as Win32:Xpaj-gen. This variant has known aliases:
Virus:Win32/Xpaj.gen!C (Microsoft)
W32/Xpaj.b (McAfee)
W32.Xpaj.B (Symantec)
Virus.Win32.Xpaj.gen (Kaspersky)
Virus.Win32.Xpaj.A (v) (Sunbelt)
Win32/Xpaj (AVG)

From MS Security encyclopedia:
Summary
Virus:Win32/Xpaj is a family of viruses that spread by infecting

[2018-12-07 01:35] sosedoff commented on #392
This is quite interesting. Nothing has changed in regards to the build/distribution process in years.
I don't have a windows machine around, but i'll ask someone to look into this.

[2018-12-12 13:50] ttencate commented on #383
Same here:

    Pgweb v0.10.0 (git: 54da27ef70b1d2ae9297cc5ea65158148b36107d)

The schema and its tables do appear in the left sidebar, but if I click one of them, instead of seeing the table's contents, I get an error:

Indeed it doesn't, because `tablename` is not in the `public` schema.

![2018-12-12-144907_1082x665_scrot](https://user-images.githubusercontent.com/90930/49873856-2bf84e00-fe1d-1

[2018-12-12 19:18] sosedoff commented on #383
Finally was able to replicate the issue on my machine. There's a bug with row estimation query that causes this error. Will fix.

[2018-12-24 19:10] sosedoff commented on #383
This issue has been fixed, please upgrade to 0.11.0

[2018-12-24 19:10] #383 closed

[2019-01-09 14:47] tindzk commented on #16
I noticed the same bug in the last two pgweb versions. My table is called "Client", but when I click on it in the sidebar, the "Rows" window shows the following error:

[2019-01-14 15:21] mattburton opened #402 "0.11.0 release missing windows amd64"
Just a heads up that the Windows amd64 version is missing in the 0.11.0 release. I was able to get up and running on 386 without issue as a temporary workaround. Thanks for all the hard work on such an amazing tool! I have to switch back and forth between Macs and Windows for work and the state of Postgres client apps on Windows is _abysmal_ - I was so happy to find pgweb.

[2019-01-14 15:38] mattburton opened #403 "[Feature Request] Show view definition in Structure tab"
The ability to see a pretty printed, syntax highlighted display of the definition of a given view / materialized view in the Structure tab would be extremely handy. The command `select pg_get_viewdef('{{view_name}}', true);` is easy enough to remember, but I wind up needing to copy and paste the output into a text editor to see everything, especially for views with large definitions.

[2019-01-14 16:16] sosedoff commented on #402
Thanks! I re-uploaded the win/amd64 release

[2019-01-14 16:16] #402 closed

[2019-01-14 16:22] mattburton commented on #402
Excellent thanks!

[2019-01-16 18:28] dimrozakis opened #404 "Pgweb forgets configured url if postgres is down when pgweb starts"
I have the following snippet in my `docker-compose.yml`:

[code]

When starting up containers with `docker-compose up`, `pgweb` will sometimes try to connect to `postgresql` before it can accept connections. Even with the `depends_on`, which causes `postgresql` to be started before `pgweb`, there's no guarantee it'll be listening when `pgweb` tries to connect to it. In previous pgweb versions, thi

[2019-01-16 18:30] dimrozakis commented on #404
The change in behavior described above was probably caused by #399

[2019-01-16 19:12] sosedoff commented on #404
Are you using the latest docker image (sosedoff/pgweb:0.11) ? In any case - i'll have  a look.

[2019-01-16 19:17] dimrozakis commented on #404
I'm using `sosedoff/pgweb:latest` which seems to be pointing to the same image id (81c2f0ef3f5a) as `sosedoff/pgweb:0.11.0`.

[2019-01-17 05:01] sosedoff commented on #404
I just tried to replicate your issue by having pgweb started using `DATABASE_URL` env var:

- started postgres
- started pgweb with `DATABASE_URL`
- made a few queries
- killed postgres
- pgweb now shows the login screen
- started postgres again
- refreshed the pgweb page, seeing the same database objects again after a few seconds

The change you've mentioned (#399) does not make any difference he

[2019-01-17 10:32] dimrozakis commented on #404
The issue I described occurs if postgres is down when pgweb is starting. So the steps to reproduce would be the following:
- started pgweb with `DATABASE_URL`
- started postgress
- pgweb will display the login screen

[2019-01-17 22:42] sosedoff commented on #404
Oh i see what you mean, i just noticed that when i was running another test.

[2019-01-25 17:07] sosedoff commented on #392
I have ran the binary through Windows Defender Security Intelligence reporting tool as well as VirusTotal database, both reports came back clean. The trigger could be related to the fact that pgweb has embedded content (html/css/js). Closing due to false positive.

[2019-01-25 17:07] #392 closed

[2019-01-25 17:08] #404 closed

[2019-01-25 21:52] sosedoff commented on #392
Attaching the review from Microsoft.

<img width="928" alt="screenshot 2019-01-25 15 52 00" src="https://user-images.githubusercontent.com/71051/51774809-344cd580-20b9-11e9-9038-029995aa26ac.png">

[2019-01-25 22:04] JNFoo commented on #392
Good to hear! Thank you for closing the loop on this.
Best,
-JNFoo

[2019-01-27 13:11] alvlapo opened #407 "Could not detect default username"
Getting this error when run docker container.

`$ docker pull sosedoff/pgweb`
`$ docker run -p  8081:8081 sosedoff/pgweb`

`docker -v`
Docker version 18.09.1, build 4c52b90

`$ cat /etc/*-release`
Fedora release 29 (Twenty Nine)
NAME=Fedora
VERSION="29 (Twenty Nine)"
ID=fedora

`$ uname -a`
Linux aspire5315.lostroom 4.19.10-300.fc29.x86_64 #1 SMP Mon Dec 17 15:34:44 UTC 2018 x86_64 x86_64 x86_64 G

[2019-01-27 18:57] sosedoff commented on #407
Found the issue. Basically, the pgweb docker image does not have `USER` env var and `libpq` library fails to detect the current user, which we use as a default like `psql` does. Will fix.

[2019-02-06 23:24] majestique opened #411 "Can't get it to run"
After installing it on CentOS:

We just execute: `pgweb --host localhost --user myuser --pass mypw --db mydb`

and it should run on port 8081?

I keep on getting this:
![image](https://user-images.githubusercontent.com/19336285/52380602-4c124b00-2a23-11e9-814e-6772168acd1b.png)

[2019-02-07 01:17] sosedoff commented on #411
Well, if the authentication credentials are correct - yes, you should be able to start pgweb and access it on port 8081. Looks like you might have some modifications made to authentication methods in your `pg_hba.conf` file, which produces the error you're seeing.

[2019-02-07 06:30] majestique commented on #411
I got it to run and it looks like it's listening but I can't seem to connect.
![image](https://user-images.githubusercontent.com/19336285/52394168-4dad3480-2a5e-11e9-95fb-f1ae130de40e.png)

![image](https://user-images.githubusercontent.com/19336285/52394196-64538b80-2a5e-11e9-8aec-bdd42c8b2daa.png)

my firewall is open on port 8081 as well:
![image](https://user-images.githubusercontent.com/19336

[2019-02-07 06:56] majestique commented on #411
Got it to run with `--bind=0.0.0.0`

[2019-02-07 06:56] #411 closed